Dear
= succeed ',' do
  = @user.first_name
%br
%br
Your account
%b= @user.email
has been
= succeed '.' do
  %span{ style: 'padding:5px;background-color:#5cb85c;color:white' } activated
%br
%br
You can now login here:
%br
%center
  = link_to ENV['website_url'], ENV['website_url'], style: 'color: #428bca'
