<span id="publication_<%= @attribute %>_container" style="<%= 'display:none' unless @publication.send(@attribute) %>">
  <% if @disabled.blank? %>
    <%= file_field :publication, @attribute+'_attachment' %>
  <% else %>

    <% if @publication.send(@attribute+'_attachment') and @publication.send(@attribute+'_attachment_url') %>
      <br />
      <span style="margin-left:30px;">
        &raquo; <%= link_to @publication.send(@attribute+'_attachment_url').split('/').last, SITE_URL + @publication.send(@attribute+'_attachment_url'), :target => '_blank' %>
        <%= image_tag('contour/download.png', :alt => '', :style => 'vertical-align:middle') %>
        -- <%= number_to_human_size(@publication.send(@attribute+'_attachment').size) %>
      </span>
    <% end %>
  <% end %>
</span>
