<span id="publication_<%= @attribute %>_container" style="<%= 'display:none' unless @publication.send(@attribute) %>">
  <% if @disabled.blank? %>
    <%= file_field :publication, @attribute+'_attachment', class: 'form-control' %>
    <%= hidden_field :publication, @attribute+'_attachment_cache' %>
  <% else %>

    <% if @publication.send(@attribute+'_attachment') and @publication.send(@attribute+'_attachment').url %>
      <% full_url = "#{request.script_name}#{@publication.send(@attribute+'_attachment').url}" %>
      <%= link_to @publication.send(@attribute+'_attachment').url.split('/').last, full_url, target: '_blank', class: 'btn btn-xs btn-default' %>
      <%= number_to_human_size(@publication.send(@attribute+'_attachment').size) %>
    <% end %>
  <% end %>
</span>
