<% width = '914px' %>
<%= form_tag sc_approval_publication_path(@publication), method: :post, :id => 'steering_committee_decision_form' do %>
<div class="field">
  <label>Publication Status</label>
  <% Publication::SC_STATUS.each do |display, value| %>
    <%= radio_button :publication, :status, value, :checked => (value == @publication.status) %> <label><%= display %></label>
  <% end %>
</div>
<% if false %>
<div class="field">
  <%= label :publication, :manuscript_number, 'Manuscript Number' %><br />
  <%= text_field :publication, :manuscript_number %>
</div>
<% end %>
<div class="field">
  <%= label :publication, :additional_sccommittee_instructions, 'Additional Instructions to Email to Lead Author' %><br />
  <%= text_area :publication, :additional_sccommittee_instructions, :rows => 7, :style => "width:#{width}" %>
</div>
<div class="actions">

  <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@publication.status == 'approved' ? 'Submit' : 'Update') + " Steering Committee Decision", "$('#steering_committee_decision_form').submit();", class: 'btn btn-primary' %>


  <% unless @publication.status == 'approved' %>
    <%= link_to image_tag('gentleface/16/cancel.png', alt: '') + 'Cancel', show_steering_committee_decision_publication_path(@publication), method: :post, :remote => true, class: 'btn btn-danger' %>
  <% end %>
	<br />
</div>
<% end %>
