<%= form_tag sc_approval_publication_path(@publication), method: :post, class: 'form-horizontal' do %>
  <div class="control-group">
    <label class="control-label">Publication Status</label>
    <div class="controls radio">
      <% Publication::SC_STATUS.each do |display, value| %>
        <%= radio_button :publication, :status, value, :checked => (value == @publication.status) %> <label><%= display %></label>
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= label :publication, :additional_sccommittee_instructions, 'Additional Instructions to Email to Lead Author', class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= text_area :publication, :additional_sccommittee_instructions, rows: 7, style: "width:99%" %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag (@publication.status == 'approved' ? 'Submit' : 'Update') + " Steering Committee Decision", class: 'btn btn-primary' %>
    <%= link_to 'Cancel', show_steering_committee_decision_publication_path(@publication), method: :post, remote: true, class: 'btn' unless @publication.status == 'approved' %>
  </div>
<% end %>
