<%= form_tag pp_approval_publication_path(@publication), :method => :post, :id => 'subcommittee_decision_form' do %>
<div class="field">
  <label>Publication Status</label><br />
  <% Publication::PP_STATUS.each do |display, value| %>
    <%= radio_button :publication, :status, value, :checked => (value == @publication.status) %> <label><%= display %></label>
  <% end %>
</div>
<div class="field">
  <%= label :publication, :manuscript_number, 'Manuscript Number' %><br />
  <%= text_field :publication, :manuscript_number %>
</div>
<div class="actions">
  
  <%= link_to_function image_tag('icons/tick.png', :alt => '') + (@publication.status == 'proposed' ? 'Submit' : 'Update') + " Subcommittee Decision", "$('#subcommittee_decision_form').submit();", :class => "button positive" %>
  
  <% unless @publication.status == 'proposed' %>
    <%= link_to image_tag('icons/cross.png', :alt => '') + 'Cancel', show_subcommittee_decision_publication_path(@publication), :method => :post, :remote => true, :class => 'button negative' %>
  <% end %>
	<br />
</div>
<% end %>