- disabled = '' if defined?(disabled) == nil

- if disabled.blank?
  .well
    %h3 Quick Save
    %dl.dl-horizontal
      %dt
        = image_tag 'contour/save.png', alt: '', title: 'Quick Save', style: 'vertical-align:text-bottom'
        Quick Save
      %dd
        While you are composing your publication make sure to occasionally click
        the
        %strong Quick Save
        icon
        = image_tag 'contour/save.png', alt: '', title: 'Quick Save', style: 'vertical-align:text-bottom'
        in the section header.

      %dt
        %span.label.label-warning Important!
      %dd
        You will have to give your publication a
        %strong Full Title
        and
        %strong Abbreviated Title
        first so that your publication can be saved.

= hidden_field_tag 'isdirty', '1' if disabled.blank?

- form_name = @publication.new_record? ? 'new_publication' : "edit_publication_#{@publication.id}"
- quick_save = disabled.blank? ? link_to(image_tag('contour/save.png', alt: '', title: 'Quick Save', style: 'vertical-align:text-bottom'), '#', data: { object: 'publication-save', publish: '-1', target: "##{form_name}" }) : ''
= form_for @publication, html: { class: 'form-horizontal', multipart: true } do |f|
  - if disabled.blank? and @publication.errors.any?
    .callout.callout-danger
      %h4
        = pluralize @publication.errors.count, 'error'
        prohibited this publication from being saved

      %ul
        - @publication.errors.full_messages.each do |message|
          %li= message

  .well
    .form-group
      = f.label :full_title, nil, class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_field :full_title, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.full_title

    .form-group
      = f.label :abbreviated_title, 'Abbreviated title', class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_field :abbreviated_title, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.abbreviated_title

  - if disabled.blank? && current_user.secretary?
    .well
      .form-group
        = f.label :status, class: 'col-md-2 control-label'
        .col-md-10
          = f.select :status, options_for_select(Publication::STATUS, @publication.status), {}, class: 'form-control'

  .well
    .page-header
      %h3
        A. Administrative Information
        = quick_save
    .form-group
      %label.col-md-2.control-label 1. Lead Author
      .col-md-10
        .disabled.help-block
          - if disabled.blank? && current_user.secretary?
            = f.select :user_id, options_for_select([['---', nil]] + User.current.order('last_name, first_name').collect{|u| [u.reverse_name, u.id]}, @publication.user_id), {}, class: 'form-control'
          - else
            - if @publication.user
              = @publication.user.name
            - else
              %span.text-muted No Lead Author
    .form-group
      = f.label :centers, '2. Center(s)', class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_field :centers, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.centers
    .form-group
      = f.label :proposal_submission_date, '3. Date this publication was submitted to CHAT DCC', class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_field :proposal_submission_date, class: 'datepicker form-control', value: @publication.proposal_submission_date ? @publication.proposal_submission_date.strftime('%m/%d/%Y') : '', disabled: disabled
        - else
          .disabled= simple_format @publication.proposal_submission_date.to_s

  .well
    .page-header
      %h3
        B. Publication Information
        = quick_save

    .form-group{ class: "#{'error' if @publication.errors.keys.include?(:publication_type)}" }
      %label.col-md-2.control-label 4. Type of publication
      .col-md-10
        .radio
          = f.radio_button :publication_type, 'PP', disabled: disabled
          = label 'publication_publication_type', 'pp', 'CHAT primary or mainline paper (design or primary CHAT hypothesis)'
        .radio
          = f.radio_button :publication_type, 'SP', disabled: disabled
          = label 'publication_publication_type', 'sp', 'CHAT secondary paper (non-primary hypothesis of CHAT or with data collected at more than one but not all of the investigative centers)'
        .radio
          = f.radio_button :publication_type, 'AP', disabled: disabled
          = label 'publication_publication_type', 'ap', 'Ancillary Paper (data collected only at one investigative center <em>specify ancillary study &amp; paper</em>)'.html_safe
        - if disabled.blank?
          = f.text_field :publication_type_specify, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.publication_type_specify

  .well
    .page-header
      %h3
        C. CHAT Resources
        = quick_save

    .form-group
      %label.col-md-2.control-label
        5. Does preparation of this publication require any DCC RESOURCES?
      .col-md-10
        .checkbox
          = f.check_box :dcc_resources_staff, disabled: disabled
          = f.label :dcc_resources_staff, 'Staff (specify)'
        - if disabled.blank?
          = f.text_field :dcc_resources_staff_specify, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.dcc_resources_staff_specify
        .checkbox
          = f.check_box :dcc_resources_other, disabled: disabled
          = f.label :dcc_resources_other, 'Other (specify)'
        - if disabled.blank?
          = f.text_field :dcc_resources_other_specify, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.dcc_resources_other_specify
        %span.help-block Check all that apply; specify resources in each category

    .form-group
      %label.col-md-2.control-label
        6. What CHAT data will be required to prepare this publication?
      .col-md-10
        .checkbox
          = f.check_box :chat_data_main_forms, disabled: disabled, onclick: "toggleAttachment('#publication_chat_data_main_forms');"
          = f.label :chat_data_main_forms, 'CHAT main forms database (<em>please attach copies of release forms with required items circled</em>)'.html_safe
        - @attribute = 'chat_data_main_forms'; @disabled = disabled
        = render 'publications/download_link'

        .checkbox
          = f.check_box :chat_data_main_database, disabled: disabled, onclick: "toggleAttachment('#publication_chat_data_main_database');"
          = f.label :chat_data_main_database, 'CHAT main sleep study database (<em>please attach a list of data items</em>)'.html_safe
        - @attribute = 'chat_data_main_database'; @disabled = disabled
        = render 'publications/download_link'

        .checkbox
          = f.check_box :chat_data_other, disabled: disabled, onclick: "toggleAttachment('#publication_chat_data_other');"
          = f.label :chat_data_other, 'Other (<em>specify data and where the data are located</em>)'.html_safe
        - @attribute = 'chat_data_other'; @disabled = disabled
        = render 'publications/download_link'

        - if disabled.blank?
          = f.text_field :chat_data_other_specify, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.chat_data_other_specify
        %span.help-block Check all that apply

  .well
    .page-header
      %h3
        D. Data Analysis
        = quick_save

    .form-group
      %label.col-md-2.control-label
        7. Which of the following is required for preparation of this manuscript?
      .col-md-10
        .checkbox
          = f.check_box :manuscript_preparation_analysis_data, disabled: disabled
          = f.label :manuscript_preparation_analysis_data, 'New analysis of CHAT data by DCC staff'
        .checkbox
          = f.check_box :manuscript_preparation_analysis_ancillary_data, disabled: disabled
          = f.label :manuscript_preparation_analysis_ancillary_data, 'New analysis of CHAT ancillary study data by DCC staff'
        .checkbox
          = f.check_box :manuscript_analysis_review, disabled: disabled
          = f.label :manuscript_analysis_review, 'Review of distributed analysis of CHAT data by DCC staff'
        .checkbox
          = f.check_box :manuscript_preparation_other, disabled: disabled
          = f.label :manuscript_preparation_other, 'Other (<em>specify</em>)'.html_safe
        - if disabled.blank?
          = f.text_field :manuscript_preparation_other_specify, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.manuscript_preparation_other_specify
        %span.help-block Check all that apply

    .form-group
      %label.col-md-2.control-label 8. Briefly describe the proposed analysis
      .col-md-10
        - if disabled.blank?
          = f.text_area :proposed_analysis, rows: 7, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.proposed_analysis

  .well
    .page-header
      %h3
        E. Attachments
        = quick_save

    .form-group
      %label.col-md-2.control-label
        9. Attachments to this form
      .col-md-10
        .checkbox
          = f.check_box :attachment_chat_form, disabled: disabled, onclick: "toggleAttachment('#publication_attachment_chat_form');"
          = f.label :attachment_chat_form, 'CHAT form with items marked to indicate variables intended for analysis'
        - @attribute = 'attachment_chat_form'; @disabled = disabled
        = render 'publications/download_link'

        - if disabled.blank?
          = f.text_field :attachment_chat_form_specify, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.attachment_chat_form_specify
        .checkbox
          = f.check_box :attachment_chat_variables, disabled: disabled, onclick: "toggleAttachment('#publication_attachment_chat_variables');"
          = f.label :attachment_chat_variables, 'List of CHAT sleep study variables intended for analysis'
        - @attribute = 'attachment_chat_variables'; @disabled = disabled
        = render 'publications/download_link'

        - if disabled.blank?
          = f.text_field :attachment_chat_variables_specify, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.attachment_chat_variables_specify
        .checkbox
          = f.check_box :attachment_ancillary_forms, disabled: disabled, onclick: "toggleAttachment('#publication_attachment_ancillary_forms');"
          = f.label :attachment_ancillary_forms,'CHAT ancillary study forms with items marked to indicate variables intended for analysis'
        - @attribute = 'attachment_ancillary_forms'; @disabled = disabled
        = render 'publications/download_link'

        - if disabled.blank?
          = f.text_field :attachment_ancillary_forms_specify, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.attachment_ancillary_forms_specify
        .checkbox
          = f.check_box :attachment_other, disabled: disabled, onclick: "toggleAttachment('#publication_attachment_other');"
          = f.label :attachment_other, 'Other (<em>specify</em>)'.html_safe
        - @attribute = 'attachment_other'; @disabled = disabled
        = render 'publications/download_link'

        - if disabled.blank?
          = f.text_field :attachment_other_specify, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.attachment_other_specify
        %span.help-block Check all that apply

    %a{ name: 'section_e10' }
    %p
      10.  CHAT Publication Proposal Description

    .form-group
      %label.col-md-2.control-label Lead Author
      .col-md-10
        - if @publication.user
          .disabled.help-block= link_to @publication.user.name, @publication.user
        - else
          .disabled
            %span.text-muted No Lead Author

    .form-group
      = f.label :co_lead_author, 'Co-Lead Author', class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.select :co_lead_author_id, options_for_select([['---', nil]] + User.current.order('last_name, first_name').collect{|u| [u.reverse_name, u.id]}, @publication.co_lead_author_id), {}, class: 'form-control'
        - else
          .disabled= link_to @publication.co_lead_author.name, @publication.co_lead_author if @publication.co_lead_author

    .form-group
      = f.label :writing_group_members, 'Writing Group Members', class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_field :writing_group_members, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.writing_group_members

    .form-group
      = f.label :keywords, class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_field :keywords, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.keywords

    .form-group
      = f.label :affiliation, class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_field :affiliation, disabled: disabled, class: 'form-control'
        - else
          .disabled= simple_format @publication.affiliation

    .form-group
      = f.label :timeline, class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_area :timeline, rows: 7, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.timeline

    .form-group
      = f.label :sponsoring_pi, 'Sponsoring PI', class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_field :sponsoring_pi, disabled: disabled, class: 'form-control'
        - else
          .disabled= simple_format @publication.sponsoring_pi

    .form-group
      = f.label :rationale, class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_area :rationale, rows: 7, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.rationale

    .form-group
      = f.label :hypothesis, class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_area :hypothesis, rows: 7, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.hypothesis

    .form-group
      = f.label :data, 'Data (Study Design, Population, Variables of Interest)', class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_area :data, rows: 7, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.data

    .form-group
      = f.label :study_type, 'Type of Study', class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_field :study_type, disabled: disabled, class: 'form-control'
        - else
          .disabled= simple_format @publication.study_type

    .form-group
      = f.label :target_journal, 'Target Journal', class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_field :target_journal, disabled: disabled, class: 'form-control'
        - else
          .disabled= simple_format @publication.target_journal

    .form-group
      = f.label :analysis_responsibility, 'Analysis Responsibility', class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_area :analysis_responsibility, rows: 7, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.analysis_responsibility

    .form-group
      = f.label :analysis_plan, 'Brief Analysis Plan', class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_area :analysis_plan, rows: 7, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.analysis_plan

    .form-group
      = f.label :summary_section, 'Summary Section', class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_area :summary_section, rows: 7, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.summary_section

    .form-group
      = f.label :references, class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_area :references, rows: 7, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.references

    .form-group
      = f.label :additional_comments, class: 'col-md-2 control-label'
      .col-md-10
        - if disabled.blank?
          = f.text_area :additional_comments, rows: 7, class: 'form-control', disabled: disabled
        - else
          .disabled= simple_format @publication.additional_comments

  .well
    .page-header
      %h3 F. Author assurance and sign off

    %ul
      %li
        I understand that any manuscripts resulting from this effort must be
        approved by the CHAT SC prior to submission to any journal
      %li
        I understand that review of data analyses is required by the DCC prior
        to submission to any journal
      %li
        I understand that the DCC is the archive for CHAT and that a copy of any
        draft circulated to any person or entity external to the CHAT Research
        Group must be sent to the DCC for its records
      %li
        I understand that the SC will make the final decision regarding
        authorship format
      %li
        I understand that reviewers will be appointed from the CHAT Research
        Group to provide internal review of this paper prior to submission to
        any journal
      %li
        I will adhere to the confidentiality policies of CHAT and its IRB's,
        which require that no identifying personal information may be included
        in any publication

    .form-group
      .col-md-offset-2.col-md-10
        .checkbox
          = f.check_box :author_assurance, disabled: disabled
          = f.label :author_assurance, 'Please tick to confirm that you have read and understand the above text'

  - if disabled.blank?
    .form-group
      .col-md-offset-2.col-md-10
        = hidden_field_tag 'publish', '0'
        - if current_user.secretary?
          = link_to 'Save Publication', '#', data: { object: 'publication-secretary-save', target: "##{form_name}" }, class: 'btn btn-primary'
        - else
          = link_to (@publication.new_record? ? 'Save Draft of Publication' : 'Update Draft of Publication'), '#', data: { object: 'publication-save', publish: '0', target: "##{form_name}" }, class: 'btn btn-default'
          = link_to "Submit Publication for Review", '#', data: { object: 'publication-save', publish: '1', target: "##{form_name}", assurance: true }, class: 'btn btn-primary'
        = link_to 'Cancel', (@publication.new_record? ? publications_path : @publication), class: 'btn btn-default'
