<% width = '914px' %>
<% disabled = '' if defined?(disabled) == nil %>

<% if disabled.blank? %>
<fieldset>
  <legend>Quick Save</legend>
  <div class="field">
    <label><%= image_tag 'contour/save.png', :alt => '', :title => 'Quick Save', :style => 'vertical-align:text-bottom' %> Quick Save</label><br />
    While you are composing your publication make sure to occasionally click the <strong>Quick Save</strong> icon <%= image_tag 'contour/save.png', :alt => '', :title => 'Quick Save', :style => 'vertical-align:text-bottom' %> in the section header.    
  </div>
  <br />
  <div class="field">
    <label><%= image_tag 'contour/warning.png', :alt => '', :style => 'vertical-align:text-bottom' %> Note</label><br />
    You will have to give your publication a <strong>Full Title</strong> and <strong>Abbreviated Title</strong> in <%= link_to 'Section E.10', '#section_e10' %> first so that your publication can be saved.
  </div>
</fieldset>
<% end %>

<% form_name = @publication.new_record? ? 'new_publication' : "edit_publication_#{@publication.id}" %>
<% quick_save = disabled.blank? ? link_to_function(image_tag('contour/save.png', :alt => '', :title => 'Quick Save', :style => 'vertical-align:text-bottom'), "$('#publish').val('-1');$('##{form_name}').submit();") : "" %>
<%= form_for(@publication, :html => {:multipart => true}) do |f| %>
  <fieldset>
    <legend>
      A. Administrative Information
      <%= quick_save %>
    </legend>
    
    <div class="field">
      <label>1. Lead Author</label><br />
      <% if @publication.user %>
        <%= @publication.user.name %>
      <% else %>
        <span class="quiet">No Lead Author</span>
      <% end %>
    </div>
    
    <div class="field">
      <%= f.label :centers, '2. Center(s):' %><br />
      <% if disabled.blank? %>
        <%= f.text_field :centers, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.centers %></pre>
      <% end %>
    </div>
    
    <div class="field">
      <%= f.label :proposal_submission_date, '3. Date this publication was submitted to CHAT DCC' %><br />
      <% if disabled.blank? %>
        <%= f.date_select :proposal_submission_date, :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.proposal_submission_date %></pre>
      <% end %>
    </div>
    
  </fieldset>
  
  <fieldset class="<%= 'fieldset_with_errors' if @publication.errors.keys.include?(:publication_type) %>">
    <legend>
      B. Publication Information
      <%= quick_save %>
    </legend>
    <div class="field">
      <label>4. Type of publication</label><br />
      <%= f.radio_button(:publication_type, "PP", :disabled => disabled) %> <%= label 'publication_publication_type', 'pp', 'CHAT primary or mainline paper (design or primary CHAT hypothesis)' %>
    </div>
    <div class="field">
      <%= f.radio_button(:publication_type, "SP", :disabled => disabled) %> <%= label 'publication_publication_type', 'sp', 'CHAT secondary paper (non-primary hypothesis of CHAT or with data collected at more than one but not all of the investigative centers)' %>
    </div>
    <div class="field">
      <%= f.radio_button(:publication_type, "AP", :disabled => disabled) %> <%= label 'publication_publication_type', 'ap', 'Ancillary Paper (data collected only at one investigative center <em>specify ancillary study &amp; paper</em>):'.html_safe %><br />
      <% if disabled.blank? %>
        <%= f.text_field :publication_type_specify, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.publication_type_specify %></pre>
      <% end %>
    </div>
  </fieldset>
  
  <fieldset class="<%= 'fieldset_with_errors' if @publication.errors.keys.include?(:dcc_resources_none) or @publication.errors.keys.include?(:chat_data_none) %>">
    <legend>
      C. CHAT Resources
      <%= quick_save %>
    </legend>
    
    <div class="field">
      <label>5. Does preparation of this publication require any DCC RESOURCES? (<em>check all that apply; specify resources in each category</em>)</label><br />
      <br />
      <%= f.check_box :dcc_resources_none, :disabled => disabled %> <%= f.label :dcc_resources_none, 'None' %><br />
      <%= f.check_box :dcc_resources_staff, :disabled => disabled %> <%= f.label :dcc_resources_staff, 'Staff (specify):' %><br />
      <% if disabled.blank? %>
        <%= f.text_field :dcc_resources_staff_specify, :style => "width:#{width}", :disabled => disabled %><br />
      <% else %>
        <pre class="disabled"><%= @publication.dcc_resources_staff_specify %></pre>
      <% end %>
      <%= f.check_box :dcc_resources_other, :disabled => disabled %> <%= f.label :dcc_resources_other, 'Other (specify):' %><br />
      <% if disabled.blank? %>
        <%= f.text_field :dcc_resources_other_specify, :style => "width:#{width}", :disabled => disabled %><br />
      <% else %>
        <pre class="disabled"><%= @publication.dcc_resources_other_specify %></pre>
      <% end %>
    </div>
    <br />
    <div class="field">
      <label>6.  What CHAT data will be required to prepare this publication? <em>(check all that apply)</em></label><br />
      <br />
      <%= f.check_box :chat_data_none, :disabled => disabled %> <%= f.label :chat_data_none, 'None' %><br />
      
      <%= f.check_box :chat_data_main_forms, :disabled => disabled, :onclick => "toggleAttachment('#publication_chat_data_main_forms');" %> <%= f.label :chat_data_main_forms, 'CHAT main forms database (<em>please attach copies of release forms with required items circled</em>)'.html_safe %>
      <% @attribute = 'chat_data_main_forms'; @disabled = disabled %>
      <%= render :partial => 'publications/download_link' %>
      <br />
      
      <%= f.check_box :chat_data_main_database, :disabled => disabled, :onclick => "toggleAttachment('#publication_chat_data_main_database');" %> <%= f.label :chat_data_main_database, 'CHAT main sleep study database (<em>please attach a list of data items</em>)'.html_safe %>
      <% @attribute = 'chat_data_main_database'; @disabled = disabled %>
      <%= render :partial => 'publications/download_link' %>
      <br />
      <%= f.check_box :chat_data_other, :disabled => disabled, :onclick => "toggleAttachment('#publication_chat_data_other');" %> <%= f.label :chat_data_other, 'Other (<em>specify data and where the data are located</em>):'.html_safe %>
      <% @attribute = 'chat_data_other'; @disabled = disabled %>
      <%= render :partial => 'publications/download_link' %>
      <br />
      <% if disabled.blank? %>
        <%= f.text_field :chat_data_other_specify, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.chat_data_other_specify %></pre>
      <% end %>
    </div>
  </fieldset>
  <fieldset class="<%= 'fieldset_with_errors' if @publication.errors.keys.include?(:manuscript_preparation_none) %>">
    <legend>
      D. Data Analysis
      <%= quick_save %>
    </legend>
    
    <div class="field">
      <label>7. Which of the following is required for preparation of this manuscript? (<em>check all that apply</em>)</label><br />
      <br />
      <%= f.check_box :manuscript_preparation_none, :disabled => disabled %> <%= f.label :manuscript_preparation_none, 'None' %><br />
      <%= f.check_box :manuscript_preparation_analysis_data, :disabled => disabled %> <%= f.label :manuscript_preparation_analysis_data, 'New analysis of CHAT data by DCC staff' %><br />
      <%= f.check_box :manuscript_preparation_analysis_ancillary_data, :disabled => disabled %> <%= f.label :manuscript_preparation_analysis_ancillary_data, 'New analysis of CHAT ancillary study data by DCC staff' %><br />
      <%= f.check_box :manuscript_analysis_review, :disabled => disabled %> <%= f.label :manuscript_analysis_review, 'Review of distributed analysis of CHAT data by DCC staff' %><br />
      <%= f.check_box :manuscript_preparation_other, :disabled => disabled %> <%= f.label :manuscript_preparation_other, 'Other (<em>specify</em>):'.html_safe %><br />
      <% if disabled.blank? %>
        <%= f.text_field :manuscript_preparation_other_specify, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.manuscript_preparation_other_specify %></pre>
      <% end %>
    </div>
    <br />
    <div class="field">
      <label>8 . Briefly describe the proposed analysis</label><br />
      <% if disabled.blank? %>
        <%= f.text_area :proposed_analysis, :rows => 7, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.proposed_analysis %></pre>
      <% end %>
    </div>
  </fieldset>
  <fieldset class="<%= 'fieldset_with_errors' if @publication.errors.keys.include?(:attachment_none) %>">
    <legend>
      E. Attachments
      <%= quick_save %>
    </legend>
    
    <div class="field">
      <label>9.  Attachments to this form (<em>check all that apply</em>)</label><br />
      <br />
      <%= f.check_box :attachment_none, :disabled => disabled %> <%= f.label :attachment_none, 'None' %><br />
      <%= f.check_box :attachment_chat_form, :disabled => disabled, :onclick => "toggleAttachment('#publication_attachment_chat_form');" %> <%= f.label :attachment_chat_form, 'CHAT form with items marked to indicate variables intended for analysis:' %>
      <% @attribute = 'attachment_chat_form'; @disabled = disabled %>
      <%= render :partial => 'publications/download_link' %>
      <br />
      <% if disabled.blank? %>
        <%= f.text_field :attachment_chat_form_specify, :style => "width:#{width}", :disabled => disabled %><br />
      <% else %>
        <pre class="disabled"><%= @publication.attachment_chat_form_specify %></pre>
      <% end %>
      <%= f.check_box :attachment_chat_variables, :disabled => disabled, :onclick => "toggleAttachment('#publication_attachment_chat_variables');" %> <%= f.label :attachment_chat_variables, 'List of CHAT sleep study variables intended for analysis:' %>
      <% @attribute = 'attachment_chat_variables'; @disabled = disabled %>
      <%= render :partial => 'publications/download_link' %>
      <br />
      <% if disabled.blank? %>
        <%= f.text_field :attachment_chat_variables_specify, :style => "width:#{width}", :disabled => disabled %><br />
      <% else %>
        <pre class="disabled"><%= @publication.attachment_chat_variables_specify %></pre>
      <% end %>
      <%= f.check_box :attachment_ancillary_forms, :disabled => disabled, :onclick => "toggleAttachment('#publication_attachment_ancillary_forms');" %> <%= f.label :attachment_ancillary_forms,'CHAT ancillary study forms with items marked to indicate variables intended for analysis:' %>
      <% @attribute = 'attachment_ancillary_forms'; @disabled = disabled %>
      <%= render :partial => 'publications/download_link' %>
      <br />
      <% if disabled.blank? %>
        <%= f.text_field :attachment_ancillary_forms_specify, :style => "width:#{width}", :disabled => disabled %><br />
      <% else %>
        <pre class="disabled"><%= @publication.attachment_ancillary_forms_specify %></pre>
      <% end %>
      <%= f.check_box :attachment_other, :disabled => disabled, :onclick => "toggleAttachment('#publication_attachment_other');" %> <%= f.label :attachment_other, 'Other (<em>specify</em>):'.html_safe %>
      <% @attribute = 'attachment_other'; @disabled = disabled %>
      <%= render :partial => 'publications/download_link' %>
      <br />
      <% if disabled.blank? %>
        <%= f.text_field :attachment_other_specify, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.attachment_other_specify %></pre>
      <% end %>
    </div>
    <br />
    <a name="section_e10"></a>
    <div class="field">
      <label>10.  CHAT Publication Proposal Description<% if false %><br />
        <br />
        Submit this description along with Completed Publication Proposal Form to:<br />
        P&amp;P Committee,   c/o Anna Marie Kibler   (AKibler@partners.org)<% end %>
      </label>
      <br />
      <br />
      <%= f.label :full_title %><br />
      <% if disabled.blank? %>
          <%= f.text_field :full_title, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.full_title %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :abbreviated_title, 'Abbreviated Title' %><br />
      <% if disabled.blank? %>
        <%= f.text_field :abbreviated_title, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.abbreviated_title %></pre>
      <% end %>
    </div>
    <div class="field">
      <label>Lead Author</label><br />
      <% if @publication.user %>
        <pre class="disabled"><%= link_to @publication.user.name, @publication.user %></pre>
      <% else %>
        <pre class="disabled"><span class="quiet">No Lead Author</span></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :co_lead_author, 'Co-Lead Author' %><br />
      <% if disabled.blank? %>
        <%= f.select :co_lead_author_id, options_for_select([['---', nil]] + User.current.order('last_name, first_name').collect{|u| [u.rev_name, u.id]}, @publication.co_lead_author_id) %>
        <%#= f.text_field :co_lead_author, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= link_to @publication.co_lead_author.name, @publication.co_lead_author if @publication.co_lead_author  %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :writing_group_members, 'Writing Group Members' %><br />
      <% if disabled.blank? %>
        <%= f.text_field :writing_group_members, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.writing_group_members %></pre>
      <% end %>
    </div>
    <% if false %>
    <div class="field">
      <%= f.label :additional_coauthors, 'Additional Co-Authors' %><br />
      <% if disabled.blank? %>
        <%= f.text_field :additional_coauthors, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.additional_coauthors %></pre>
      <% end %>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :keywords %><br />
      <% if disabled.blank? %>
        <%= f.text_field :keywords, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.keywords %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :affiliation %><br />
      <% if disabled.blank? %>
        <%= f.text_field :affiliation, :disabled => disabled, :style => "width:#{width}" %>
      <% else %>
        <pre class="disabled"><%= @publication.affiliation %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :timeline %><br />
      <% if disabled.blank? %>
        <%= f.text_area :timeline, :rows => 7, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.timeline %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :sponsoring_pi, 'Sponsoring PI' %><br />
      <% if disabled.blank? %>
        <%= f.text_field :sponsoring_pi, :disabled => disabled, :style => "width:#{width}" %>
      <% else %>
        <pre class="disabled"><%= @publication.sponsoring_pi %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :rationale %><br />
      <% if disabled.blank? %>
        <%= f.text_area :rationale, :rows => 7, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.rationale %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :hypothesis %><br />
      <% if disabled.blank? %>
        <%= f.text_area :hypothesis, :rows => 7, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.hypothesis %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :data, 'Data (Study Design, Population, Variables of Interest)' %><br />
      <% if disabled.blank? %>
        <%= f.text_area :data, :rows => 7, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.data %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :study_type, 'Type of Study' %><br />
      <% if disabled.blank? %>
        <%= f.text_field :study_type, :disabled => disabled, :style => "width:#{width}" %>
      <% else %>
        <pre class="disabled"><%= @publication.study_type %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :target_journal, 'Target Journal' %><br />
      <% if disabled.blank? %>
        <%= f.text_field :target_journal, :disabled => disabled, :style => "width:#{width}" %>
      <% else %>
        <pre class="disabled"><%= @publication.target_journal %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :analysis_responsibility, 'Analysis Responsibility' %><br />
      <% if disabled.blank? %>
        <%= f.text_area :analysis_responsibility, :rows => 7, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.analysis_responsibility %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :analysis_plan, 'Brief Analysis Plan' %><br />
      <% if disabled.blank? %>
        <%= f.text_area :analysis_plan, :rows => 7, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.analysis_plan %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :summary_section, 'Summary Section' %><br />
      <% if disabled.blank? %>
        <%= f.text_area :summary_section, :rows => 7, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.summary_section %></pre>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :references %><br />
      <% if disabled.blank? %>
        <%= f.text_area :references, :rows => 7, :style => "width:#{width}", :disabled => disabled %>
      <% else %>
        <pre class="disabled"><%= @publication.references %></pre>
      <% end %>
    </div>
    
  </fieldset>
  <fieldset>
    <legend>F. Author assurance and sign off</legend>
    <ul>
      <li>I understand that any manuscripts resulting from this effort must be approved by the CHAT SC prior to submission to any journal</li>
      <li>I understand that review of data analyses is required by the DCC prior to submission to any journal</li>
      <li>I understand that the DCC is the archive for CHAT and that a copy of any draft circulated to any person or entity external to the CHAT Research Group must be sent to the DCC for its records</li>
      <li>I understand that the SC will make the final decision regarding authorship format</li>
      <li>I understand that reviewers will be appointed from the CHAT Research Group to provide internal review of this paper prior to submission to any journal</li>
      <li>I will adhere to the confidentiality policies of CHAT and its IRB’s, which require that no identifying personal information may be included in any publication</li>
    </ul>

    <div class="field">
      <%= f.check_box :author_assurance, :disabled => disabled %> <%= f.label :author_assurance, 'Please tick to confirm that you have read and understand the above text' %><br />
      
    </div>
<% if false %>
    <div class="field">
      <%= f.label :approval_date %><br />
      <%= f.date_select :approval_date %>
    </div>
    <div class="field">
      <%= f.label :committee_submission_date %><br />
      <%= f.date_select :committee_submission_date %>
    </div>
<% end %>
  </fieldset>
  <% if disabled.blank? %>
    <div class="actions">
      <%= hidden_field_tag 'publish', '0' %>
      <%= link_to_function image_tag('contour/save.png', :alt => '') + (@publication.new_record? ? "Save Draft of Publication" : "Update Draft of Publication"), "$('#publish').val('0');$('##{form_name}').submit();", :class => "button" %>
      <%= link_to_function image_tag('contour/tick.png', :alt => '') + "Submit Publication for Review", "if(authorAssuranceCheck() == false){return false;};$('#publish').val('1');$('##{form_name}').submit();", :class => "button positive" %>
      <%= link_to image_tag('contour/cross.png', :alt => '') + 'Cancel', @publication.new_record? ? root_path : @publication, :class => 'button negative' %>
  		<br />
    </div>
  <% end %>
<% end %>
