<tr>
  <td><span id="publication_<%= @publication.id %>_tag_pp_link"><%= @committee = 'pp'; render :partial => 'publications/tag_for_review' %></span>
    <span id="publication_<%= @publication.id %>_tag_sc_link"><%= @committee = 'sc';  render :partial => 'publications/tag_for_review' %></span></td>
  <td style="white-space:nowrap">
    <%= @publication.manuscript_number %>
    <% unless @publication.manuscript_url.blank? %>
      <br />
      <span style="margin-left:20px"><%= link_to image_tag('icons/download.png', :alt => '', :style => 'vertical-align:middle'), SITE_URL + @publication.manuscript_url, :target => '_blank' %></span>
      <% if false %>
      <br />
      <span class="quiet"><%= simple_time(@publication.manuscript_uploaded_at) %></span><br />
      <%= number_to_human_size(@publication.manuscript.size) %>
      <% end %>
    <% end %>
  </td>
  <td><%= link_to @publication.abbreviated_title, @publication, :title => @publication.full_title %></td>
  <td>
    <% if @publication.user %>
      <span style="white-space:nowrap">Lead Author: <%= link_to @publication.user.name, @publication.user %></span>
    <% else %>
      <span class="quiet" style="white-space:nowrap">No Lead Author</span>
    <% end %>
    <br />
    <% if @publication.co_lead_author %>
      <span style="white-space:nowrap">Co-Lead Author: <%= link_to @publication.co_lead_author.name, @publication.co_lead_author %><br /></span>
    <% end %>
    <% unless @publication.writing_group_members.blank? %><br /><%= @publication.writing_group_members %><% end %>
  </td>
  <td><%= @publication.publication_type %> <%= @publication.publication_type_specify unless @publication.publication_type_specify.blank? %></td>
  <td style="white-space:nowrap">
    <%= display_status(@publication.status) %>
    <div style="margin-top:4px"><%= @publication.human_status %></div>
  </td>
  <td><pre style="padding-left:0;margin-bottom:0"><%= @publication.dataset_requested_analyst %></pre></td>
  <td><%= @publication.targeted_start_date_pretty %></td>
  <% if current_user.pp_committee_secretary? or current_user.steering_committee_secretary? %>
    <% if ['draft'].include?(@publication.status) %>
      <td></td>
    <% else %>
      <td style="white-space:nowrap">
        <%= link_to image_tag('icons/edit.png', :alt => ''), inline_edit_publication_path(@publication), :method => :post, :remote => true %>
      </td>
    <% end %>
  <% end %>
</tr>
<tr style="border-bottom: 2px solid #777">
  <td></td>
  <td colspan="<%= (current_user.pp_committee_secretary? or current_user.steering_committee_secretary?) ? 9 : 8 %>">
    <% if @publication.status != 'published' %>
      <span class="quiet">
        <strong>Action Items:</strong> 
        <% case @publication.status when 'draft' %>
          Author has not submitted publication.
        <% when 'not approved' %>
          Author needs to resubmit after reviewing committee comments.
        <% when 'proposed' %>
          P&amp;P Committee needs to review.
        <% when 'approved' %>
          Steering Committee needs to review and nominate.
        <% when 'nominated' %>
          Author needs to submit paper to journal.
        <% when 'submitted' %>
          Waiting for publication in journal.
        <% end %>
      </span>
      <br />
    <% end %>
    <% if not @publication.secretary_notes.blank? and (current_user.pp_committee_secretary? or current_user.steering_committee_secretary? or current_user.pp_committee? or current_user.steering_committee?) %>
      <strong>Secretary Notes:</strong>
      <%= @publication.secretary_notes %>
    <% end %>
  </td>
</tr>