<tr>

  <td><%= @publication.manuscript_number %></td><%# Manuscript Number %>
  <td><%= link_to @publication.full_title, @publication %></td>
  <td><%= link_to @publication.user.name, @publication.user %><br /><%= @publication.writing_group_members %></td>
  <td><%= @publication.publication_type %> <%= @publication.publication_type_specify unless @publication.publication_type_specify.blank? %></td>
  <td style="white-space:nowrap"><%= @publication.human_status %></td>
  <td>???</td>
  <td><%= @publication.targeted_start_date %></td>
  <td>
    <% case @publication.status when 'draft' %>
      <span class="quiet">Author has not submitted publication.</span>
    <% when 'proposed' %>
      P&amp;P Committee needs to review.
    <% when 'approved' %>
      Steering Committee needs to review and nominate.
    <% when 'nominated' %>
      Author needs to submit paper to journal.
    <% when 'submitted' %>
      Waiting for publication in journal.
    <% when 'published' %>
      Paper Published!
    <% end %>
    <br />
    <%#= @publication.secretary_notes %>
  </td>
  <td>
    <% unless @publication.manuscript_url.blank? %>
      <%= link_to image_tag('icons/download.png', :alt => '', :style => 'vertical-align:middle'), SITE_URL + @publication.manuscript_url, :target => '_blank' %>
      <% if false %>
      <br />
      <span class="quiet"><%= simple_time(@publication.manuscript_uploaded_at) %></span><br />
      <%= print_byte_size(@publication.manuscript.size) %>
      <% end %>
    <% end %>
  </td>
  <% if current_user.pp_committee_secretary? or current_user.steering_committee_secretary? %>
    <% if ['draft'].include?(@publication.status) %>
      <td></td>
    <% else %>
      <td style="white-space:nowrap">
        <%= link_to image_tag('icons/edit.png', :alt => '') + 'Edit', '#', :onclick => remote_function(:url => inline_edit_publication_path(@publication), :method => :post) + "; return false;", :class => "button" %>
      </td>
    <% end %>
  <% end %>
</tr>
<% if not @publication.secretary_notes.blank? and (current_user.pp_committee_secretary? or current_user.steering_committee_secretary? or current_user.pp_committee? or current_user.steering_committee?) %>
<tr>
  <td></td>
  <td colspan="<%= (current_user.pp_committee_secretary? or current_user.steering_committee_secretary?) ? 9 : 8 %>">
    <%= @publication.secretary_notes %>
  </td>
</tr>
<% end %>