<tr>
  <td><span id="publication_<%= @publication.id %>_tag_pp_link"><%= @committee = 'pp'; render :partial => 'publications/tag_for_review' %></span>
    <span id="publication_<%= @publication.id %>_tag_sc_link"><%= @committee = 'sc';  render :partial => 'publications/tag_for_review' %></span></td>
  <td style="white-space:nowrap">
    <%= @publication.manuscript_number %>
    <%= link_to 'Download', @publication.manuscript_url, target: '_blank', class: 'btn btn-mini' unless @publication.manuscript_url.blank? %>
  </td>
  <td><%= link_to @publication.abbreviated_title, @publication, title: @publication.full_title %></td>
  <td>
    <% if @publication.user %>
      <span style="white-space:nowrap"><b>Lead Author:</b> <%= link_to @publication.user.name, @publication.user %></span>
    <% else %>
      <span class="muted" style="white-space:nowrap">No Lead Author</span>
    <% end %>
    <br />
    <% if @publication.co_lead_author %>
      <span style="white-space:nowrap"><b>Co-Lead Author:</b> <%= link_to @publication.co_lead_author.name, @publication.co_lead_author %><br /></span>
    <% end %>
    <% unless @publication.all_nominations.size == 0 %><br /><b>Writing Group (<%= @publication.finalized_nominations.size %> of <%= @publication.all_nominations.size %>):</b> <span id="publication_nominations_box_<%= @publication.id %>"><%= image_tag 'contour/gentleface/lightbulb_16.png', style: 'vertical-align:text-bottom;cursor:pointer', class: 'smudge' %></span><br /><%= @publication.finalized_nominations.join(', ') %>
      <%= javascript_tag do %>
        $('#publication_nominations_box_<%= @publication.id %>')
          .qtip({
            content:{
              text: '<%= escape_javascript simple_format("<ul>" + @publication.all_nominations.collect{|nom| @publication.finalized_nominations.include?(nom) ? "<li><b>#{nom}</b></li>" : "<li class='quiet'>#{nom}</li>"}.join + "</ul><br />Key:<ul><li><b>Selected</b></li><li class='quiet'>Not Selected</li></ul>") %>',
              title:{
                text: '<%= escape_javascript @publication.manuscript_number %> Writing Group Nominations:',
                button: true
              }
            },
            show:{
              solo: true
            },
            hide: {
              event: 'unfocus'
            },
            position:{
              my: 'left center',
              at: 'right center',
              viewport: $(window)
            },
            style:{
              classes: 'ui-tooltip-shadow ui-tooltip-green'
            }
          });
      <% end %>
    <% end %>
  </td>
  <td><%= @publication.publication_type %> <%= @publication.publication_type_specify unless @publication.publication_type_specify.blank? %></td>
  <td style="white-space:nowrap">
    <%= display_status(@publication.status) %>
    <div style="margin-top:4px"><%= @publication.human_status %></div>
  </td>
  <td><div style="padding-left:0;margin-bottom:0"><%= @publication.dataset_requested_analyst %></div></td>
  <td>
    <% if @publication.targeted_start_date %><%= @publication.targeted_start_date_pretty %><br /><% end %>
    <% unless @publication.timeline.blank? %>
      <%= image_tag 'contour/gentleface/lightbulb_16.png', style: 'vertical-align:text-bottom;cursor:pointer', class: 'smudge', id: "publication_timeline_box_#{@publication.id}" %>
      <%= javascript_tag do %>
        $('#publication_timeline_box_<%= @publication.id %>')
          .qtip({
            content:{
              text: '<%= escape_javascript simple_format(@publication.timeline) %>',
              title:{
                text: '<%= escape_javascript @publication.manuscript_number %> Timeline:',
                button: true
              }
            },
            show:{
              solo: true
            },
            hide: {
              event: 'unfocus'
            },
            position:{
              my: 'top right',
              at: 'bottom center',
              viewport: $(window)
            },
            style:{
              classes: 'ui-tooltip-shadow ui-tooltip-green'
            }
          });
      <% end %>
    <% end %>
  </td>
  <% if current_user.pp_committee_secretary? or current_user.steering_committee_secretary? %>
    <% if ['draft'].include?(@publication.status) %>
      <td></td>
    <% else %>
      <td>
        <%= link_to 'Edit', inline_edit_publication_path(@publication), method: :post, remote: true, class: 'btn btn-mini' %>
      </td>
    <% end %>
  <% end %>
</tr>
<% if @print %>
<tr>
  <td></td>
  <td colspan="<%= (current_user.pp_committee_secretary? or current_user.steering_committee_secretary?) ? 9 : 8 %>">
    <strong>Timeline:</strong> <%= simple_format(@publication.timeline) %>
  </td>
</tr>
<% end %>
<tr style="border-bottom: 2px solid #777">
  <td></td>
  <td colspan="<%= (current_user.pp_committee_secretary? or current_user.steering_committee_secretary?) ? 9 : 8 %>">
    <% if @publication.status != 'published' %>
      <span class="muted">
        <strong>Action Items:</strong>
        <% case @publication.status when 'draft' %>
          Author has not submitted publication.
        <% when 'not approved' %>
          Author needs to resubmit after reviewing committee comments.
        <% when 'proposed' %>
          P&amp;P Committee needs to review.
        <% when 'approved' %>
          Steering Committee needs to review and nominate.
        <% when 'nominated' %>
          Author needs to submit paper to journal.
        <% when 'submitted' %>
          Waiting for publication in journal.
        <% end %>
      </span>
      <br />
    <% end %>
    <% if not @publication.secretary_notes.blank? and (current_user.pp_committee_secretary? or current_user.steering_committee_secretary? or current_user.pp_committee? or current_user.steering_committee?) %>
      <strong>Secretary Notes:</strong>
      <%= @publication.secretary_notes %>
    <% end %>
  </td>
</tr>
