<tr>
  <td><span id="publication_<%= @publication.id %>_tag_pp_link"><%= @committee = 'pp'; render :partial => 'publications/tag_for_review' %></span></td>
  <td><span id="publication_<%= @publication.id %>_tag_sc_link"><%= @committee = 'sc';  render :partial => 'publications/tag_for_review' %></span></td>
  <td style="vertical-align:top">
    <%= text_field_tag "publication_display[#{@publication.id}][manuscript_number]", @publication.manuscript_number %>
    <% unless @publication.manuscript_url.blank? %>
      <br />
      <span style="margin-left:20px"><%= link_to image_tag('icons/download.png', :alt => '', :style => 'vertical-align:middle'), SITE_URL + @publication.manuscript_url, :target => '_blank' %></span>
      <% if false %>
      <br />
      <span class="quiet"><%= simple_time(@publication.manuscript_uploaded_at) %></span><br />
      <%= number_to_human_size(@publication.manuscript.size) %>
      <% end %>
    <% end %>
  </td>
  <td style="vertical-align:top"><%= link_to @publication.abbreviated_title, @publication %></td>
  <td style="vertical-align:top">
    <span style="white-space:nowrap">
      Lead Author:<br />
      <%= select_tag "publication_display[#{@publication.id}][user_id]", options_for_select([['---', nil]] + User.current.order('last_name, first_name').collect{|u| [u.rev_name, u.id]}, @publication.user_id) %>
    </span>
    <span style="white-space:nowrap">
      Co-Lead Author:<br />
      <%= select_tag "publication_display[#{@publication.id}][co_lead_author_id]", options_for_select([['---', nil]] + User.current.order('last_name, first_name').collect{|u| [u.rev_name, u.id]}, @publication.co_lead_author_id) %>
    </span>
    <%#= link_to @publication.user.name, @publication.user %><br />
    <%#= @publication.writing_group_members %>
    <br />
    Writing Group Members:
    <%= text_area_tag "publication_display[#{@publication.id}][writing_group_members]", @publication.writing_group_members, :cols => 20, :rows => 3 %><br />
    
    Committee Nominations:
    <% nominations = @publication.user_publication_reviews.where('writing_group_nomination IS NOT NULL') %> <%# and writing_group_nomination != "" was removed (TODO CLEANUP) %>
    <% if nominations.size > 0 %>
      <% nominations.each do |upr| %>
        <br /><%= upr.writing_group_nomination %>
      <% end %>
    <% else %>
      <br /><span class="quiet">None</span>
    <% end %>
  </td>
  <td style="vertical-align:top"><%= @publication.publication_type %> <%= @publication.publication_type_specify unless @publication.publication_type_specify.blank? %></td>
  <td style="vertical-align:top;white-space:nowrap">
    <% if ['nominated', 'submitted', 'published'].include?(@publication.status) %>
      <%= select_tag "publication_display[#{@publication.id}][status]", options_for_select(Publication::FINAL_STATUS, @publication.status) %>
    <% else %>
      <%= @publication.human_status %>
      <%= hidden_field_tag "publication_display[#{@publication.id}][status]", @publication.status %>
    <% end %>
  </td>
  <td style="vertical-align:top">
    <%= text_area_tag "publication_display[#{@publication.id}][dataset_requested_analyst]", @publication.dataset_requested_analyst, :cols => 20, :rows => 3 %>
  </td>
  <td style="vertical-align:top">
    <%= text_field_tag "publication_display[#{@publication.id}][targeted_start_date]", (@publication.targeted_start_date ? @publication.targeted_start_date.strftime('%m/%d/%Y') : ''), :size => '10' %>
    <%= javascript_tag "$('#publication_display_#{@publication.id}_targeted_start_date').datepicker();" %>
  </td>
  <td style="vertical-align:top;white-space:nowrap">
    <% with = "$('#publication_#{@publication.id}_manuscript_number').val($('#publication_display_#{@publication.id}_manuscript_number').val());
               $('#publication_#{@publication.id}_user_id').val($('#publication_display_#{@publication.id}_user_id').val());
               $('#publication_#{@publication.id}_co_lead_author_id').val($('#publication_display_#{@publication.id}_co_lead_author_id').val());
               $('#publication_#{@publication.id}_writing_group_members').val($('#publication_display_#{@publication.id}_writing_group_members').val());
               $('#publication_#{@publication.id}_status').val($('#publication_display_#{@publication.id}_status').val());
               $('#publication_#{@publication.id}_dataset_requested_analyst').val($('#publication_display_#{@publication.id}_dataset_requested_analyst').val());
               $('#publication_#{@publication.id}_targeted_start_date').val($('#publication_display_#{@publication.id}_targeted_start_date').val());
               $('#publication_#{@publication.id}_secretary_notes').val($('#publication_display_#{@publication.id}_secretary_notes').val());" %>

    <% form_name = "publication_#{@publication.id}_form" %>
    <%= form_tag inline_update_publication_path(@publication), :method => :post, :remote => true, :id => form_name do %>
      <%= hidden_field_tag "publication[#{@publication.id}][manuscript_number]" %>
      <%= hidden_field_tag "publication[#{@publication.id}][user_id]" %>
      <%= hidden_field_tag "publication[#{@publication.id}][co_lead_author_id]" %>
      <%= hidden_field_tag "publication[#{@publication.id}][writing_group_members]" %>
      <%= hidden_field_tag "publication[#{@publication.id}][status]" %>
      <%= hidden_field_tag "publication[#{@publication.id}][dataset_requested_analyst]" %>
      <%= hidden_field_tag "publication[#{@publication.id}][targeted_start_date]" %>
      <%= hidden_field_tag "publication[#{@publication.id}][secretary_notes]" %>
    
      <%= link_to_function image_tag('icons/tick.png', :alt => '') + 'Update', "#{with};$('##{form_name}').submit();", :class => "button positive" %>
      <%#= link_to image_tag('icons/tick.png', :alt => '') + 'Update', '#', :onclick => remote_function(
          :url => inline_update_publication_path(@publication), :method => :post,
          :with => "'&'+$('publication_#{@publication.id}_secretary_notes').serialize()+
                    '&'+$('publication_#{@publication.id}_status').serialize()+
                    '&'+$('publication_#{@publication.id}_manuscript_number').serialize()+
                    '&'+$('publication_#{@publication.id}_targeted_start_date__1i').serialize()+
                    '&'+$('publication_#{@publication.id}_targeted_start_date__2i').serialize()+
                    '&'+$('publication_#{@publication.id}_targeted_start_date__3i').serialize()"
        ) + "; return false;", :class => "button positive" %>
      <%= link_to image_tag('icons/cross.png', :alt => '') + 'Cancel', inline_show_publication_path(@publication), :method => :post, :remote => true, :class => "button negative" %>
    <% end %>
  </td>
</tr>
<tr style="border-bottom: 2px solid #777">
  <td></td>
  <td colspan="10">
    <% if @publication.status != 'published' %>
      <span class="quiet">
        <strong>Action Items:</strong> 
        <% case @publication.status when 'draft' %>
          Author has not submitted publication.
        <% when 'not approved' %>
          Author needs to resubmit after reviewing committee comments.
        <% when 'proposed' %>
          P&amp;P Committee needs to review.
        <% when 'approved' %>
          Steering Committee needs to review and nominate.
        <% when 'nominated' %>
          Author needs to submit paper to journal.
        <% when 'submitted' %>
          Waiting for publication in journal.
        <% end %>
      </span>
      <br />
    <% end %>
    <strong>Secretary Notes:</strong><br />
    <%= text_area_tag "publication_display[#{@publication.id}][secretary_notes]", @publication.secretary_notes, :cols => 100, :rows => 3 %>
  </td>
</tr>