= render 'layouts/per_page', per_page: 40, object_count: @publications.total_count

%table.table
  %col{ width: '1px' }
  %col{ width: '1px' }
  %col{ width: '1px' }
  %thead
    %tr
      = th_sort_field_rev @order, 'publications.tagged_for_pp_review', 'P&P', extra_class: 'nowrap'
      = th_sort_field_rev @order, 'publications.tagged_for_sc_review', 'SC', extra_class: 'nowrap'
      = th_sort_field @order, 'publications.manuscript_number', 'MS#', extra_class: 'nowrap'
      = th_sort_field @order, 'publications.abbreviated_title', 'Abbreviated Title', extra_class: 'nowrap'
      %th Lead Author and Writing Committee
      = th_sort_field @order, 'publications.publication_type', 'Paper Type', extra_class: 'nowrap'
      = th_sort_field @order, 'publications.status', 'Status', extra_class: 'nowrap'
      %th Dataset Requested Analyst
      = th_sort_field @order, 'publications.targeted_start_date', 'Targeted Start Date', extra_class: 'nowrap'
      - if current_user.secretary?
        %th Actions

  - if @publications.to_a.size > 0
    - @publications.each do |publication|
      - @publication = publication
      %tbody{ id: "publication_#{@publication.id}_container", class: cycle('even-borderless', 'odd-borderless') }
        = render 'publications/inline_show'
  - else
    %tr
      %td.center.text-muted{ colspan: (current_user.secretary? ? 10 : 9), class: cycle('odd', 'even') }
        No Publications Found Matching Your Search Criteria

.center= paginate @publications, theme: 'bootstrap'
