= render 'layouts/per_page', per_page: 40, object_count: @publications.total_count

%table.table
  %col{ width: '1px' }
  %col{ width: '1px' }
  %thead
    %tr
      %th.nowrap
        = sort_field_helper_desc_only(@order, 'publications.tagged_for_pp_review', 'P&P')
        %br
        = sort_field_helper_desc_only(@order, 'publications.tagged_for_sc_review', 'SC')
      %th.nowrap= sort_field_helper(@order, 'publications.manuscript_number', 'MS#')
      %th.nowrap= sort_field_helper(@order, 'publications.abbreviated_title', 'Abbreviated Title')
      %th Lead Author and Writing Committee
      %th= sort_field_helper(@order, 'publications.publication_type', 'Paper Type')
      %th.nowrap= sort_field_helper(@order, 'publications.status', 'Status')
      %th Dataset Requested Analyst
      %th= sort_field_helper(@order, 'publications.targeted_start_date', 'Targeted Start Date')
      - if current_user.secretary?
        %th Actions

  - if @publications.to_a.size > 0
    - @publications.each do |publication|
      - @publication = publication
      %tbody{ id: "publication_#{@publication.id}_container", class: cycle('even-borderless', 'odd-borderless') }
        = render 'publications/inline_show'
  - else
    %tr
      %td.center.text-muted{ colspan: (current_user.secretary? ? 9 : 8), class: cycle('odd', 'even') }
        No Publications Found Matching Your Search Criteria

.center= paginate @publications, theme: 'bootstrap'
