<table class="table table-bordered" style="width:100%"><col width="1px"/><col width="1px"/>
  <thead>
    <tr>
      <th style="white-space:nowrap">
        <%== sort_field_helper_desc_only(@order, 'publications.tagged_for_pp_review', 'P&P')  %><br /><br />
        <%== sort_field_helper_desc_only(@order, 'publications.tagged_for_sc_review', 'SC') %>
      </th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'publications.manuscript_number', 'MS#') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'publications.abbreviated_title', 'Abbreviated Title') %></th>
      <th>Lead Author and Writing Committee</th>
      <th><%== sort_field_helper(@order, 'publications.publication_type', 'Paper Type') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'publications.status', 'Status') %></th>
      <th>Dataset Requested Analyst</th>
      <th><%== sort_field_helper(@order, 'publications.targeted_start_date', 'Targeted Start Date') %></th>
      <% if current_user.pp_committee_secretary? or current_user.steering_committee_secretary? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <% if @publications.to_a.size > 0 %>
    <% @publications.each do |publication| %>
      <% @publication = publication %>
      <tbody id="publication_<%= @publication.id %>_container" class="<%= cycle('even-borderless', 'odd-borderless') %>">
        <%= render partial: 'publications/inline_show' %>
      </tbody>
    <% end %>
  <% else %>
    <tr>
      <td colspan="<%= (current_user.pp_committee_secretary? or current_user.steering_committee_secretary?) ? '9' : '8' %>" class="<%= cycle('odd', 'even') %> muted" style="text-align:center">
        No Publications Found Matching Your Search Criteria
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @publications %></center>
