<%= form_tag edit_steering_committee_decision_publication_path(@publication), method: :post, remote: true, class: 'form-horizontal' do %>
  <div class="control-group">
    <label class="control-label">Publication Status</label>
    <div class="controls radio">
      <% Publication::SC_STATUS.each do |display, value| %>
        <%= radio_button :publication, :status, value, :checked => (value == @publication.status), disabled: 'disabled' %> <label><%= display %></label>
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= label :publication, :manuscript_number, 'Manuscript Number', class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= text_field :publication, :manuscript_number, disabled: 'disabled' %>
    </div>
  </div>

  <div class="control-group">
    <%= label :publication, :additional_sccommittee_instructions, 'Additional Instructions to Email to Lead Author', class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <% if @publication.additional_sccommittee_instructions.blank? %>
        <div class="muted">None</div>
      <% else %>
        <div class="disabled"><%= @publication.additional_sccommittee_instructions %></div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to 'Preview Email', '#', data: { object: 'toggle', target: '#sc_email' }, class: 'btn' %>
    <%= submit_tag 'Edit Steering Committee Decision', class: 'btn' %>
  </div>
<% end %>

<div id="sc_email" style="display:none">
  <% if @publication.user %>
    <%== UserMailer.publication_approval(@publication, false, current_user).html_part %>
    <hr>
    <pre><%== UserMailer.publication_approval(@publication, false, current_user).text_part %></pre>
  <% else %>
    <strong>No email will be sent since the publication does not have a lead author!</strong>
  <% end %>
</div>
