<% form_name = "subcommittee_decision_form" %>
<%= form_tag edit_subcommittee_decision_publication_path(@publication), :method => :post, :remote => true, :id => form_name do %>
  <div class="field">
    <label>Publication Status</label><br />
    <% Publication::PP_STATUS.each do |display, value| %>
      <%= radio_button :publication, :status, value, :checked => (value == @publication.status), :disabled => 'disabled' %> <label><%= display %></label>
    <% end %>
  </div>
  <div class="field">
    <%= label :publication, :manuscript_number, 'Manuscript Number' %><br />
    <%= text_field :publication, :manuscript_number, :disabled => 'disabled' %>
  </div>
  <div class="actions">
    <%= link_to_function image_tag('icons/edit.png', :alt => '') + 'Edit Subcommittee Decision', "$('##{form_name}').submit();", :class => 'button' %>
  	<br />
  </div>
<% end %>