<% @title = "Publication Matrix" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Publication", new_publication_path, class: 'btn btn-primary btn-mini' %>
  </h1>
</div>

<div style="float:right">
  <%= image_tag 'contour/tag_green.png', alt: '' %> Marked for P&amp;P Committee Review<br />
  <%= image_tag 'contour/tag_blue.png', alt: '' %> Marked for Steering Committee Review<br />
  <%= image_tag 'gentleface/16/lightbulb.png', alt: '' %> Mouse Over for Additional Information
</div>

<%= form_tag publications_path, method: :get, remote: true, id: "search_form", class: 'form-search' do %>
  <%= hidden_field_tag :order, params[:order] %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <%= link_to "Export Matrix as PDF", print_publications_path(format: 'pdf'), target: '_blank', class: 'btn btn-mini' %>
<% end %>

<div style="clear:both"></div>

<div id="publications"><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#search_form").attr("action"), $("#search_form").serialize(), null, "script");
  });
<% end %>
