<% @title = "Publication Matrix" %>
<h1><%= @title %></h1>

<div style="float:right">
  <%= image_tag 'contour/tag_green.png', :alt => '' %> Marked for P&amp;P Committee Review<br />
  <%= image_tag 'contour/tag_blue.png', :alt => '' %> Marked for Steering Committee Review<br />
  <%= image_tag 'contour/gentleface/lightbulb_16.png', :alt => '', :class => 'smudge' %> Mouse Over for Additional Information
</div>

<%= link_to image_tag('contour/addfile.png', :alt => '') + "Create New Publication", new_publication_path, :class => 'button positive' %>

<%= form_tag publications_path, :method => :get, :remote => true, :id => "search_form" do %>
  <%= hidden_field_tag :order, params[:order] %>
  Search <%= text_field_tag 'search', params[:search] %> <%= information("Press Enter to Search by <b>Title</b> or <b>Author</b>") %>
<% end %>

<div style="clear:both"></div>

<div id="publications"><br /><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#search_form").attr("action"), $("#search_form").serialize(), null, "script");
  });
<% end %>