<% @title = "Publication Matrix" %>
<h1><%= @title %></h1>

<div style="float:right">
  <%= image_tag 'contour/tag_green.png', :alt => '' %> Marked for P&amp;P Committee Review<br />
  <%= image_tag 'contour/tag_blue.png', :alt => '' %> Marked for Steering Committee Review
</div>

<%= link_to image_tag('contour/addfile.png', :alt => '') + "Create New Publication", new_publication_path, :class => 'button positive' %>

<%= form_tag publications_path, :method => :get, :remote => true, :id => "search_form" do %>
  <%= hidden_field_tag :order, params[:order] %>
  Search <%= text_field_tag 'search', params[:search] %> <%= information("Press Enter to Search by <b>Title</b> or <b>Author</b>") %>
<% end %>

<div style="clear:both"></div>

<div id="publications"></div>

<% content_for :script do %>
  <%= javascript_tag do %>
    $(function(){
      $.get($("#search_form").attr("action"), $("#search_form").serialize(), null, "script");
    });
  <% end %>
<% end %>

<% if false %>
    <th>Full title</th>
    <th>User</th>
    <th>Status</th>
    <th>Manuscript Number</th>
    <th>Centers</th>
    <th>Proposal submission date</th>
    <th>Publication type</th>
    <th>Publication type specify</th>
    <th>Dcc resources none</th>
    <th>Dcc resources staff</th>
    <th>Dcc resources staff specify</th>
    <th>Dcc resources other</th>
    <th>Dcc resources other specify</th>
    <th>Chat data none</th>
    <th>Chat data main forms</th>
    <th>Chat data main database</th>
    <th>Chat data other</th>
    <th>Chat data other specify</th>
    <th>Manuscript preparation analysis data</th>
    <th>Manuscript preparation analysis ancillary data</th>
    <th>Manuscript analysis review</th>
    <th>Manuscript preparation other</th>
    <th>Manuscript preparation other specify</th>
    <th>Manuscript preparation none</th>
    <th>Attachment chat form</th>
    <th>Attachment chat form specify</th>
    <th>Attachment chat variables</th>
    <th>Attachment chat variables specify</th>
    <th>Attachment ancillary forms</th>
    <th>Attachment ancillary forms specify</th>
    <th>Attachment other</th>
    <th>Attachment other specify</th>
    <th>Abbreviated title</th>
    <th>Keywords</th>
    <th>Affiliation</th>
    <th>Sponsoring pi</th>
<% if false %>    <th>Additional coauthors</th> <% end %>
    <th>Lead author</th>
    <th>Writing group members</th>
    <th>Timeline</th>
    <th>Rationale</th>
    <th>Hypothesis</th>
    <th>Data</th>
    <th>Study type</th>
    <th>Target journal</th>
    <th>Analysis responsibility</th>
    <th>Analysis plan</th>
    <th>Summary section</th>
    <th>References</th>
    <th>Author assurance</th>
    <th>Author assurance date</th>
    <th>Approval date</th>
    <th>Committee submission date</th>
    <th></th>
    <th></th>
    <th></th>
<% end %>


<% if false %>
    <td><%= link_to publication.full_title.blank? ? '<span class="quiet">No Title</span>'.html_safe : publication.full_title, publication %></td>
    <td><%= link_to publication.user.name, publication.user %></td>
    <td><%= publication.status %></td>
    <td><%= publication.manuscript_number %></td>
    <td><%= publication.centers %></td>
    <td><%= publication.proposal_submission_date %></td>
    <td><%= publication.publication_type %></td>
    <td><%= publication.publication_type_specify %></td>
    <td><%= publication.dcc_resources_none %></td>
    <td><%= publication.dcc_resources_staff %></td>
    <td><%= publication.dcc_resources_staff_specify %></td>
    <td><%= publication.dcc_resources_other %></td>
    <td><%= publication.dcc_resources_other_specify %></td>
    <td><%= publication.chat_data_none %></td>
    <td><%= publication.chat_data_main_forms %></td>
    <td><%= publication.chat_data_main_database %></td>
    <td><%= publication.chat_data_other %></td>
    <td><%= publication.chat_data_other_specify %></td>
    <td><%= publication.manuscript_preparation_analysis_data %></td>
    <td><%= publication.manuscript_preparation_analysis_ancillary_data %></td>
    <td><%= publication.manuscript_analysis_review %></td>
    <td><%= publication.manuscript_preparation_other %></td>
    <td><%= publication.manuscript_preparation_other_specify %></td>
    <td><%= publication.manuscript_preparation_none %></td>
    <td><%= publication.attachment_chat_form %></td>
    <td><%= publication.attachment_chat_form_specify %></td>
    <td><%= publication.attachment_chat_variables %></td>
    <td><%= publication.attachment_chat_variables_specify %></td>
    <td><%= publication.attachment_ancillary_forms %></td>
    <td><%= publication.attachment_ancillary_forms_specify %></td>
    <td><%= publication.attachment_other %></td>
    <td><%= publication.attachment_other_specify %></td>
    <td><%= publication.abbreviated_title %></td>
    <td><%= publication.keywords %></td>
    <td><%= publication.affiliation %></td>
    <td><%= publication.sponsoring_pi %></td>
<% if false %>    <td><%= publication.additional_coauthors %></td><% end %>
    <td><%= publication.lead_author %></td>
    <td><%= publication.writing_group_members %></td>
    <td><%= publication.timeline %></td>
    <td><%= publication.rationale %></td>
    <td><%= publication.hypothesis %></td>
    <td><%= publication.data %></td>
    <td><%= publication.study_type %></td>
    <td><%= publication.target_journal %></td>
    <td><%= publication.analysis_responsibility %></td>
    <td><%= publication.analysis_plan %></td>
    <td><%= publication.summary_section %></td>
    <td><%= publication.references %></td>
    <td><%= publication.author_assurance %></td>
    <td><%= publication.author_assurance_date %></td>
    <td><%= publication.approval_date %></td>
    <td><%= publication.committee_submission_date %></td>
    <td><%= link_to 'Show', publication %></td>
    <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
    <td><%= link_to 'Destroy', publication, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>