<% @title = @publication.full_title %>
<div class="page-header">
  <center>
    <h2><%= @title %></h2>
    <%= link_to "Edit Publication", edit_publication_path(@publication), class: 'btn btn-mini' if @publication.editable?(current_user) %>
    <%= link_to "View Publications", publications_path, class: 'btn btn-mini' %>
  </center>
</div>

<dl class="dl-horizontal">
  <dt>Status</dt>
  <dd>
    <%= display_status(@publication.status) %><br />
    <%= @publication.human_status %>
  </dd>
</dl>

<% if @publication.reviewable?(current_user) %>
  <% @user = current_user %>
  <% @user_publication_review = @user.user_publication_reviews.find_by_publication_id(@publication.id) %>
  <% @user_publication_review = @user.user_publication_reviews.new(publication_id: @publication.id) if @user_publication_review.blank? %>
  <div id="publication_review_box_user_<%= @user.id %>">
    <% if @user_publication_review.status == nil %>
      <%= render partial: 'user_publication_reviews/form' %>
    <% else %>
      <%= render partial: 'user_publication_reviews/show' %>
    <% end %>
  </div>
<% end %>

<% if current_user.committee_member? or current_user.secretary? %>
  <ul class="nav nav-tabs" id="myTab" style="margin-bottom:0px">
    <li class="active"><a href="#pp_review">P&amp;P Committee Reviews</a></li>
    <li><a href="#sc_review">Steering Committee Reviews</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active well" id="pp_review">
      <table class="table table-condensed">
        <tbody>
          <% User.current.pp_committee_members.order('last_name, first_name').each do |user| %>
            <% @user = user %>
            <% @user_publication_review = @user.user_publication_reviews.find_by_publication_id(@publication.id) %>
            <% @user_publication_review = @user.user_publication_reviews.new(publication_id: @publication.id) if @user_publication_review.blank? %>
            <% @committee = 'pp' %>
            <%= render partial: 'user_publication_reviews/show_small' %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane well" id="sc_review">
      <table class="table table-condensed">
        <tbody>
          <% User.current.steering_committee_members.order('last_name, first_name').each do |user| %>
            <% @user = user %>
            <% @user_publication_review = @user.user_publication_reviews.find_by_publication_id(@publication.id) %>
            <% @user_publication_review = @user.user_publication_reviews.new(publication_id: @publication.id) if @user_publication_review.blank? %>
            <% @committee = 'sc' %>
            <%= render partial: 'user_publication_reviews/show_small' %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= javascript_tag "$(function () { $('#myTab a').click(function (e) { e.preventDefault(); $(this).tab('show'); }) });" %>
<% end %>

<% if ['approved', 'nominated'].include?(@publication.status) and current_user.steering_committee_secretary? %>
  <div class="well">
    <div class="page-header"><h3>Steering Committee Decision</h3></div>

    <div id="steering_committee_decision_box">
      <% if @publication.status == 'approved' %>
        <%= render partial: 'publications/edit_steering_committee_decision' %>
      <% else %>
        <%= render partial: 'publications/show_steering_committee_decision' %>
      <% end %>
    </div>
  </div>
<% end %>

<% if ['proposed', 'not approved', 'approved'].include?(@publication.status) and current_user.pp_committee_secretary? %>
  <div class="well">
    <div class="page-header"><h3>P&amp;P Committee Decision</h3></div>
    <div id="subcommittee_decision_box">
      <% if @publication.status == 'proposed' %>
        <%= render partial: 'publications/edit_subcommittee_decision' %>
      <% else %>
        <%= render partial: 'publications/show_subcommittee_decision' %>
      <% end %>
    </div>
  </div>
<% end %>


<% if ['nominated', 'submitted', 'published'].include?(@publication.status) %>
  <div class="well">
    <div class="page-header"><h3>Manuscript</h3></div>
    <div id="publication_<%= @publication.id %>_manuscript_container">
      <% if @publication.manuscript_url.blank? and (current_user == @publication.user or current_user.secretary?) %>
        <%= render partial: 'publications/manuscripts/edit' %>
      <% elsif not @publication.manuscript_url.blank? %>
        <%= render partial: 'publications/manuscripts/show' %>
      <% else %>
        The author has not uploaded any manuscripts.
      <% end %>
    </div>
  </div>
<% end %>


<% if current_user == @publication.user and ['nominated'].include?(@publication.status) %>
  <div class="well">
    <div class="page-header"><h3>Steering Committee Reviewer Comments and Nominations</h3></div>
    <% @publication.user_publication_reviews.each do |user_publication_review| %>
      <% unless user_publication_review.comment.blank? %><div><%= user_publication_review.comment  %></div><% end %>
      <% unless user_publication_review.writing_group_nomination.blank? %><div>Nomination: <%= user_publication_review.writing_group_nomination %></div><% end %>
    <% end %>
  </div>
<% end %>

<% if current_user == @publication.user and ['approved', 'not approved'].include?(@publication.status) %>
  <div class="well">
    <div class="page-header"><h3>Publications and Presentations Sub Committee Reviewer Comments</h3></div>
    <% @publication.user_publication_reviews.each do |user_publication_review| %>
      <% unless user_publication_review.comment.blank? %><div><%= simple_format user_publication_review.comment %></div><% end %>
    <% end %>
  </div>
<% end %>

<%= render partial: 'publications/form', :locals => { disabled: 'disabled' } %>
