<p>
  <b>Full title:</b>
  <%= @publication.full_title %>
</p>

<p>
  <b>User:</b>
  <%= @publication.user_id %>
</p>

<p>
  <b>Status:</b>
  <%= @publication.status %>
</p>


<p>
  <b>Centers:</b>
  <%= @publication.centers %>
</p>

<p>
  <b>Proposal submission date:</b>
  <%= @publication.proposal_submission_date %>
</p>

<p>
  <b>Publication type:</b>
  <%= @publication.publication_type %>
</p>

<p>
  <b>Publication type specify:</b>
  <%= @publication.publication_type_specify %>
</p>

<p>
  <b>Dcc resources none:</b>
  <%= @publication.dcc_resources_none %>
</p>

<p>
  <b>Dcc resources staff:</b>
  <%= @publication.dcc_resources_staff %>
</p>

<p>
  <b>Dcc resources staff specify:</b>
  <%= @publication.dcc_resources_staff_specify %>
</p>

<p>
  <b>Dcc resources other:</b>
  <%= @publication.dcc_resources_other %>
</p>

<p>
  <b>Dcc resources other specify:</b>
  <%= @publication.dcc_resources_other_specify %>
</p>

<p>
  <b>Chat data none:</b>
  <%= @publication.chat_data_none %>
</p>

<p>
  <b>Chat data main forms:</b>
  <%= @publication.chat_data_main_forms %>
</p>

<p>
  <b>Chat data main database:</b>
  <%= @publication.chat_data_main_database %>
</p>

<p>
  <b>Chat data other:</b>
  <%= @publication.chat_data_other %>
</p>

<p>
  <b>Chat data other specify:</b>
  <%= @publication.chat_data_other_specify %>
</p>

<p>
  <b>Manuscript preparation analysis data:</b>
  <%= @publication.manuscript_preparation_analysis_data %>
</p>

<p>
  <b>Manuscript preparation analysis ancillary data:</b>
  <%= @publication.manuscript_preparation_analysis_ancillary_data %>
</p>

<p>
  <b>Manuscript analysis review:</b>
  <%= @publication.manuscript_analysis_review %>
</p>

<p>
  <b>Manuscript preparation other:</b>
  <%= @publication.manuscript_preparation_other %>
</p>

<p>
  <b>Manuscript preparation other specify:</b>
  <%= @publication.manuscript_preparation_other_specify %>
</p>

<p>
  <b>Manuscript preparation none:</b>
  <%= @publication.manuscript_preparation_none %>
</p>

<p>
  <b>Attachment chat form:</b>
  <%= @publication.attachment_chat_form %>
</p>

<p>
  <b>Attachment chat form specify:</b>
  <%= @publication.attachment_chat_form_specify %>
</p>

<p>
  <b>Attachment chat variables:</b>
  <%= @publication.attachment_chat_variables %>
</p>

<p>
  <b>Attachment chat variables specify:</b>
  <%= @publication.attachment_chat_variables_specify %>
</p>

<p>
  <b>Attachment ancillary forms:</b>
  <%= @publication.attachment_ancillary_forms %>
</p>

<p>
  <b>Attachment ancillary forms specify:</b>
  <%= @publication.attachment_ancillary_forms_specify %>
</p>

<p>
  <b>Attachment other:</b>
  <%= @publication.attachment_other %>
</p>

<p>
  <b>Attachment other specify:</b>
  <%= @publication.attachment_other_specify %>
</p>

<p>
  <b>Abbreviated title:</b>
  <%= @publication.abbreviated_title %>
</p>

<p>
  <b>Keywords:</b>
  <%= @publication.keywords %>
</p>

<p>
  <b>Affiliation:</b>
  <%= @publication.affiliation %>
</p>

<p>
  <b>Sponsoring pi:</b>
  <%= @publication.sponsoring_pi %>
</p>

<% if false %>
<p>
  <b>Additional coauthors:</b>
  <%= @publication.additional_coauthors %>
</p>
<% end %>

<p>
  <b>Lead author:</b>
  <%= @publication.lead_author %>
</p>

<p>
  <b>Writing group members:</b>
  <%= @publication.writing_group_members %>
</p>

<p>
  <b>Timeline:</b>
  <%= @publication.timeline %>
</p>

<p>
  <b>Rationale:</b>
  <%= @publication.rationale %>
</p>

<p>
  <b>Hypothesis:</b>
  <%= @publication.hypothesis %>
</p>

<p>
  <b>Data:</b>
  <%= @publication.data %>
</p>

<p>
  <b>Study type:</b>
  <%= @publication.study_type %>
</p>

<p>
  <b>Target journal:</b>
  <%= @publication.target_journal %>
</p>

<p>
  <b>Analysis responsibility:</b>
  <%= @publication.analysis_responsibility %>
</p>

<p>
  <b>Analysis plan:</b>
  <%= @publication.analysis_plan %>
</p>

<p>
  <b>Summary section:</b>
  <%= @publication.summary_section %>
</p>

<p>
  <b>References:</b>
  <%= @publication.references %>
</p>

<p>
  <b>Author assurance:</b>
  <%= @publication.author_assurance %>
</p>

<p>
  <b>Author assurance date:</b>
  <%= @publication.author_assurance_date %>
</p>

<p>
  <b>Approval date:</b>
  <%= @publication.approval_date %>
</p>

<p>
  <b>Committee submission date:</b>
  <%= @publication.committee_submission_date %>
</p>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
