<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :last_name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :status, class: 'control-label' %>
    <div class="controls">
      <%= f.select :status, User::STATUS %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Steering Committee</label>
    <div class="controls checkbox">
      <%= f.check_box :steering_committee %> <%= f.label :steering_committee, 'Member' %>
      <%= f.check_box :steering_committee_secretary %> <%= f.label :steering_committee_secretary, 'Secretary' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Publications and Presentations Sub Committee</label>
    <div class="controls checkbox">
      <%= f.check_box :pp_committee %> <%= f.label :pp_committee, 'Member' %>
      <%= f.check_box :pp_committee_secretary %> <%= f.label :pp_committee_secretary, 'Secretary' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :system_admin, class: 'control-label' %>
    <div class="controls">
      <%= f.check_box :system_admin %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit (@user.new_record? ? "Create User" : "Update User"), class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
