<% if current_user.system_admin? %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% unless current_user == @user %>  <%= link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %> |<% end %>
<% end %>
<%= link_to 'Back', users_path %>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if current_user.system_admin? %>
  <p>
    <b>Status:</b>
    <%= @user.status %>
  </p>
  
  <p><b>Committees:</b>
    <% if not @user.steering_committee? and not @user.pp_committee? %>
      None
    <% else %>
    <br />
      <%= 'Steering Committee<br />'.html_safe if @user.steering_committee? %>
      <%= 'Publications and Presentations Sub Committee' if @user.pp_committee? %>
    <% end %>
  </p>
  
  <p>
    <b>System Admin:</b>
    <%= @user.system_admin? %>
  </p>
<% end %>
