<% if current_user.system_admin? %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% unless current_user == @user %>  <%= link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %> |<% end %>
<% end %>
<%= link_to 'Back', users_path %>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if current_user.system_admin? %>
  <p>
    <b>Status:</b>
    <%= @user.status %>
  </p>
  
  <p><b>Steering Committee</b><br />
      <b>Member: </b>
      <%= check_box_tag :steering_committee, 'member', @user.steering_committee?, :disabled => true %> | 
      <label>Secretary:</label>
      <%= check_box_tag :steering_committee, 'secretary', @user.steering_committee_secretary?, :disabled => true %>
  </p>
  
  <p><b>Publications and Presentations Sub Committee</b><br />
    <b>Member: </b>
    <%= check_box_tag :pp_committee, 'member', @user.pp_committee?, :disabled => true %> | 
    <label>Secretary:</label>
    <%= check_box_tag :pp_committee, 'secretary', @user.pp_committee_secretary?, :disabled => true %>
    
  </p>
  
  <p>
    <b>System Admin:</b>
    <%= check_box_tag :system, 'admin', @user.system_admin?, :disabled => true %>
  </p>
<% end %>
