<div class="field">
  <%= link_to @publication.manuscript_url.split('/').last, SITE_URL + @publication.manuscript_url, target: '_blank', class: 'btn' %>

  <span class="muted">uploaded <%= simple_time(@publication.manuscript_uploaded_at) %></span>
  -- <%= number_to_human_size(@publication.manuscript.size) %>
  <% if current_user == @publication.user or current_user.secretary? %>
    <%= link_to 'Delete', alt: '', style: 'vertical-align:middle'), destroy_manuscript_publication_path(@publication), method: :post, remote: true, confirm: "Are you sure you want to delete the uploaded manuscript?" %>
  <% end %>

  <div class="form-actions">
    <% if current_user == @publication.user or current_user.secretary? %>
      <%= link_to 'Upload a Revised Manuscript', edit_manuscript_publication_path(@publication), method: :post, remote: true, class: 'btn' %>
    <% end %>
  </div>
</div>
