<div id="send_email_<%= @position %>_modal" class="modal" style="display:none">
  <div class="modal-header">
    Send Email:
    <a class="close" data-dismiss="modal">×</a>
  </div>
  <div class="modal-body">
    <%= form_tag send_reminder_publication_path(@publication, reviewer_id: @user_publication_review.user_id), remote: true, method: :post, id: "send_email_#{@position}_form" do %>
      <div class="control-group">
        <%= label_tag :to, nil, class: 'control-label' %>
        <div class="controls">
          <%= text_field_tag :to, @user_publication_review.user.email_with_name, style: 'width:95%' %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :cc, nil, class: 'control-label' %>
        <div class="controls">
          <%= text_field_tag :cc, current_user.email_with_name, style: 'width:95%' %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :subject, nil, class: 'control-label' %>
        <div class="controls">
          <%= text_field_tag :subject, "New Publication Awaiting Approval: #{@publication.abbreviated_title_and_ms}", style: 'width:95%' %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :body, nil, class: 'control-label' %>
        <div class="controls">
          <%= text_area_tag :body, @user_publication_review.email_body_template(current_user), rows: 20, style: 'width:95%' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= link_to 'Close', '#', class: 'btn', data: { dismiss: "modal" } %>
    <%= link_to 'Send Email', '#', class: 'btn btn-primary', data: { target: "#send_email_#{@position}_form", object: 'submit' } %>
  </div>
 </div>
