<% url = @user_publication_review.new_record? ? user_publication_reviews_path(publication_id: @user_publication_review.publication_id) : user_publication_review_path(@user_publication_review) %>
<% method = @user_publication_review.new_record? ? :post : :put %>

<%= form_tag url, method: method, remote: true, class: 'form-horizontal' do %>
  <div class="well">
    <div class="page-header"><h3>Review Publication</h3></div>

    <div class="form-group">
      <label class="col-md-2 control-label">Approval Status</label>
      <div class="col-md-10">
        <% UserPublicationReview::STATUS.each do |display, value| %>
          <div class="radio">
            <label><%= radio_button :user_publication_review, :status, value, :checked => (@user_publication_review.status == value) %> <%= display %></label>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= label :user_publication_review, :comment, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_area :user_publication_review, :comment, rows: 7, class: 'form-control' %>
      </div>
    </div>

    <% if current_user.steering_committee? and ['approved', 'nominated', 'submitted', 'published'].include?(@user_publication_review.publication.status) %>
      <div class="form-group">
        <%= label :user_publication_review, :writing_group_nomination, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= text_field :user_publication_review, :writing_group_nomination, rows: 3, class: 'form-control', data: { pre: @user_publication_review.writing_group_nomination.to_s.split(',').collect{|u| { name: u, id: u }}.to_json } %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= submit_tag (@user_publication_review.new_record? ? "Submit Review" : "Update Review"), class: 'btn btn-primary' %>
        <%= link_to 'Cancel', user_publication_review_path(@user_publication_review), remote: true, class: 'btn btn-default' unless @user_publication_review.new_record? %>
      </div>
    </div>
  </div>
<% end %>
