<%# width = '914px' %>
<tr>
  <td style="vertical-align:middle"><%= link_to @user_publication_review.user.name, @user_publication_review.user %></td>
  <td></td>
  <td style="vertical-align:middle">
  <% UserPublicationReview::STATUS.each do |label, value| %>
    <%= radio_button_tag "user_publication_review_display[status]", value, (@user_publication_review.status == value) %> <label><%= label %></label>
  <% end %>
  </td>
  <td>
    <% url = @user_publication_review.new_record? ? user_publication_reviews_path(:publication_id => @user_publication_review.publication_id) : user_publication_review_path(@user_publication_review) %>
    <% method = @user_publication_review.new_record? ? :post : :put %>
    <% form_name = "upr_form_#{@user_publication_review.user_id}" %>
    
    <%= form_tag url, :method => method, :remote => true, :id => form_name do %>
      <%= hidden_field_tag "user_publication_review[status]" %>
      <%= hidden_field_tag 'user_publication_review[comment]' %>
      <% with = "if($('#user_publication_review_display_status_approved').is(':checked')){ $('#user_publication_review_status').val('approved'); }
                 else if($('#user_publication_review_display_status_not_approved').is(':checked')){ $('#user_publication_review_status').val('not approved'); }
                 else{ $('#user_publication_review_status').val(''); }
                 $('#user_publication_review_comment').val($('#user_publication_review_display_comment').val());" %>
    
      <%#= link_to(image_tag('icons/tick.png', :alt => '') + (@user_publication_review.new_record? ? "Submit Review" : "Update Review"), '#', :onclick => remote_function(:url => url, :method => method, :with => with) + "; return false;", :class => "button positive" )%>
      <%= link_to_function image_tag('icons/tick.png', :alt => '') + (@user_publication_review.new_record? ? "Submit Review" : "Update Review"), "#{with};$('##{form_name}').submit();", :class => "button positive" %>
      <% unless @user_publication_review.new_record? %>
        <%#= link_to image_tag('icons/cross.png', :alt => '') + 'Cancel', @user_publication_review.publication, :class => 'button negative' %>
        <%= link_to image_tag('icons/cross.png', :alt => '') + 'Cancel', @user_publication_review, :remote => true, :class => 'button negative' %>
      <% end %>
    <% end %>
  </td>
</tr>
<tr>
  <td></td>
  <td colspan="3">
    <%= label :user_publication_review_display, :comment %><br />
    <%= text_area_tag 'user_publication_review_display[comment]', @user_publication_review.comment, :rows => 7, :style => "width:588px" %>
  </td>
</tr>

<% if false %>

<%= form_for(@user_publication_review) do |f| %>
  <% if @user_publication_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_publication_review.errors.count, "error") %> prohibited this user_publication_review from being saved:</h2>

      <ul>
      <% @user_publication_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :publication_id %>

  <div class="field">
    <%= f.label :status %><br />
    <% UserPublicationReview::STATUS.each do |label, value| %>
      <%= f.radio_button :status, value %> <label><%= label %></label>
    <% end %>
    <%#= f.select :status, UserPublicationReview::STATUS %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :rows => 7, :style => "width:#{width}" %>
  </div>
  <div class="actions">    
    <% form_name = @user_publication_review.new_record? ? 'new_user_publication_review' : "edit_user_publication_review_#{@user_publication_review.id}" %>
    
    <%= link_to_function image_tag('icons/tick.png', :alt => '') + (@user_publication_review.new_record? ? "Submit Review" : "Update Review"), "$('##{form_name}').submit();", :class => "button positive" %>

    <% unless @user_publication_review.new_record? %>
      <%= link_to image_tag('icons/cross.png', :alt => '') + 'Cancel', @user_publication_review.publication, :class => 'button negative' %>
    <% end %>
		<br />
  </div>
<% end %>

<% end %>