<tr>
  <td style="vertical-align:middle"><%= link_to @user_publication_review.user.name, @user_publication_review.user %></td>
  <td></td>
  <td style="vertical-align:middle">
    <div class="field">
      <% UserPublicationReview::STATUS.each do |label, value| %>
        <%= radio_button_tag "user_publication_review_display[status]", value, (@user_publication_review.status == value) %> <label><%= label %></label>
      <% end %>
      <br /><br />
    </div>
    <div class="field">
      <%= label :user_publication_review_display, :writing_group_nomination %><br />
      <%= text_area_tag 'user_publication_review_display[writing_group_nomination]', @user_publication_review.writing_group_nomination, rows: 3 %>
    </div>
  </td>
  <td>
    <% url = @user_publication_review.new_record? ? user_publication_reviews_path(publication_id: @user_publication_review.publication_id, comittee: 'steering') : user_publication_review_path(@user_publication_review, comittee: 'steering') %>
    <% method = @user_publication_review.new_record? ? :post : :put %>
    <% form_name = "upr_sc_form_#{@user_publication_review.user_id}" %>

    <%= form_tag url, method: method, remote: true, id: form_name do %>
      <%= hidden_field_tag "user_publication_review[status]" %>
      <%= hidden_field_tag 'user_publication_review[comment]' %>
      <%= hidden_field_tag 'user_publication_review[writing_group_nomination]' %>

      <% with = "if($('#user_publication_review_display_status_approved').is(':checked')){ $('#user_publication_review_status').val('approved'); }
                 else if($('#user_publication_review_display_status_not_approved').is(':checked')){ $('#user_publication_review_status').val('not approved'); }
                 else{ $('#user_publication_review_status').val(''); }
                 $('#user_publication_review_comment').val($('#user_publication_review_display_comment').val());
                 $('#user_publication_review_writing_group_nomination').val($('#user_publication_review_display_writing_group_nomination').val());" %>

      <%= link_to_function (@user_publication_review.new_record? ? "Submit Nomination" : "Update Nomination"), "#{with};$('##{form_name}').submit();", class: 'btn btn-primary' %>
      <%= link_to 'Cancel', user_publication_review_path(@user_publication_review, comittee: 'steering'), remote: true, class: 'btn btn-danger' unless @user_publication_review.new_record? %>
    <% end %>
  </td>
</tr>
<tr>
  <td></td>
  <td colspan="3">
    <div class="field">
      <%= label :user_publication_review_display, :comment %><br />
      <%= text_area_tag 'user_publication_review_display[comment]', @user_publication_review.comment, rows: 7, style: "width:99%" %>
    </div>
  </td>
</tr>
