<% @user_publication_review = @user.user_publication_reviews.new(:publication_id => @publication.id) if @user_publication_review.blank? %>

<%# if @user_publication_review %>

<tr>
  <td style="vertical-align:middle"><%= link_to @user_publication_review.user.name, @user_publication_review.user %></td>
  <td style="vertical-align:middle"><% unless @user_publication_review.new_record? %>reviewed <%= simple_time(@user_publication_review.updated_at) %><% end %></td>

  <% if @user_publication_review.new_record? %>
    <td class="quiet" style="vertical-align:middle">not yet submitted</td>
  <% else %>
    <td style="vertical-align:middle">
      <strong><%= @user_publication_review.status %></strong>
      <div><%= @user_publication_review.writing_group_nomination %></div>
    </td>
  <% end %>
  
  <td>
    <% if current_user == @user_publication_review.user and  @user_publication_review.publication.status == 'approved' %>
      <% if @user_publication_review.new_record? %>
        <%= link_to 'Create Review', new_user_publication_review_path(:publication_id => @publication.id, :committee => 'steering'), :method => :get, :remote => true, :class => "button" %>
      <% else %>
        <%= link_to image_tag('contour/edit.png', :alt => '') + 'Edit Review and Nomination', edit_user_publication_review_path(@user_publication_review, :committee => 'steering'), :method => :get, :remote => true, :class => 'button' %>
      <% end %>
    <% elsif current_user == @user_publication_review.user %>
      No editing, review has been locked.
    <% elsif @user_publication_review.publication.status == 'approved' and @user_publication_review.new_record? and current_user.steering_committee_secretary? %>
      <span id="user_<%= @user_publication_review.user_id %>_notified_sc"><%= link_to image_tag('contour/email.png', :alt => '') + 'Send Email Reminder', send_reminder_publication_path(@publication, :reviewer_id => @user_publication_review.user_id), :method => :post, :remote => true, :class => 'button', :style => 'margin-bottom:0px' %></span>
    <% elsif @user_publication_review.new_record? and current_user.steering_committee_secretary? %>
      Review Locked (By Being Nominated/Not Approved). No more email reminders for committee member.
    <% end %>
  </td>
</tr>

<% unless @user_publication_review.comment.blank? %>
<tr>
  <td></td>
  <td colspan="3"><em><div><%= simple_format @user_publication_review.comment %></div></em></td>
</tr>
<% end %>
