
<% if @user_publication_review.status == nil and ((@user_publication_review.user.pp_committee? and current_user.pp_committee_secretary?) or (@user_publication_review.user.steering_committee? and current_user.steering_committee_secretary?)) %>
  <tr style="border-bottom:1px solid #eee;">
    <td style="white-space:nowrap">
      <% @position = "publication_#{@publication.id}_user_#{@user_publication_review.user_id}_#{@committee}" %>
      <span id="user_<%= @user_publication_review.user_id %>_notified_<%= @committee %>" style="color:black">
        <% if @user_publication_review.reminder_sent_at %>
          <span class="muted">Reminder sent <%= simple_time(@user_publication_review.reminder_sent_at) %></span>
          <%#= link_to 'Resend', send_reminder_publication_path(@publication, reviewer_id: @user_publication_review.user_id), method: :post, remote: true, class: 'btn btn-xs btn-default' %>
          <%= link_to 'Resend', '#', class: 'btn btn-xs btn-default', data: { object: 'modal-show', target: "#send_email_#{@position}_modal" } %>
        <% else %>
          <%#= link_to 'Email Reminder', send_reminder_publication_path(@publication, reviewer_id: @user_publication_review.user_id), method: :post, remote: true, class: 'btn btn-xs btn-default' %>
          <%= link_to 'Email Reminder', '#', class: 'btn btn-primary btn-xs', data: { object: 'modal-show', target: "#send_email_#{@position}_modal" } %>
        <% end %>
      </span>
      <%= render partial: 'user_publication_reviews/email_reminder_modal' %>
    </td>
    <td><%= link_to @user_publication_review.user.name, @user_publication_review.user %></td>
  </tr>
<% elsif @user_publication_review.status != nil %>
  <tr>
    <td style="white-space:nowrap"> <strong><span style="color:<%= @user_publication_review.status == "approved" ? "green" : "red" %>"><%= @user_publication_review.status %></span></strong></td>
    <td>
      <%= link_to @user_publication_review.user.name, @user_publication_review.user %>
      <%= simple_time(@user_publication_review.updated_at) %>
    </td>
  </tr>
  <% unless @user_publication_review.comment.blank? %>
    <tr>
      <td></td>
      <td><em><div><%= simple_format @user_publication_review.comment %></div></em></td>
    </tr>
  <% end %>
  <% unless @user_publication_review.writing_group_nomination.blank? %>
    <tr style="border-bottom:1px solid #eee;">
      <td></td>
      <td>
        <b>Nomination</b>
        <em><div><%= simple_format @user_publication_review.writing_group_nomination %></div></em>
      </td>
    </tr>
  <% end %>
<% end %>
