<% @user_publication_review = @user.user_publication_reviews.new(publication_id: @publication.id) if @user_publication_review.blank? %>

<tr>
  <td style="vertical-align:middle"><%= link_to @user_publication_review.user.name, @user_publication_review.user %></td>
  <td style="vertical-align:middle"><% unless @user_publication_review.new_record? %>reviewed <%= simple_time(@user_publication_review.updated_at) %><% end %></td>

  <% if @user_publication_review.new_record? %>
    <td class="muted" style="vertical-align:middle">not yet submitted</td>
  <% else %>
    <td style="vertical-align:middle"><strong><%= @user_publication_review.status %></strong></td>
  <% end %>

  <td>
    <% if current_user == @user_publication_review.user and  @user_publication_review.publication.status == 'proposed' %>
      <% if @user_publication_review.new_record? %>
        <%= link_to 'Create Review', new_user_publication_review_path(publication_id: @publication.id), method: :get, remote: true, class: 'btn' %>
      <% else %>
        <%= link_to 'Edit Review', edit_user_publication_review_path(@user_publication_review), method: :get, remote: true, class: 'btn' %>
      <% end %>
    <% elsif current_user == @user_publication_review.user %>
      No editing, review has been locked.
    <% elsif @user_publication_review.publication.status == 'proposed' and @user_publication_review.new_record? and current_user.pp_committee_secretary? %>
      <span id="user_<%= @user_publication_review.user_id %>_notified_pp"><%= link_to 'Send Email Reminder', send_reminder_publication_path(@publication, reviewer: @user_publication_review.user_id), method: :post, remote: true, class: 'btn' %></span>
    <% elsif @user_publication_review.new_record? and current_user.pp_committee_secretary? %>
      Review Locked (By Being Approved/Not Approved). No more email reminders for reviewer.
    <% end %>
  </td>
</tr>

<% unless @user_publication_review.comment.blank? %>
<tr>
  <td></td>
  <td colspan="3"><em><div><%= simple_format @user_publication_review.comment %></div></em></td>
</tr>
<% end %>
