<% url = @user_publication_review.new_record? ? new_user_publication_review_path(publication_id: @user_publication_review.publication.id) : edit_user_publication_review_path(@user_publication_review) %>

<%= form_tag url, method: :get, remote: true, class: 'form-horizontal' do %>
  <div class="well">
    <div class="page-header"><h3>Review Publication</h3></div>

    <div class="form-group">
      <label class="col-md-2 control-label">Approval Status</label>
      <div class="col-md-10 radio">
        <% UserPublicationReview::STATUS.each do |display, value| %>
          <%= radio_button :user_publication_review, :status, value, :checked => (@user_publication_review.status == value), disabled: 'disabled' %> <label><%= display %></label>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= label :user_publication_review, :comment, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_area :user_publication_review, :comment, rows: 7, style: "width:99%", disabled: 'disabled' %>
      </div>
    </div>

    <% if current_user.steering_committee? %>
      <div class="form-group">
        <%= label :user_publication_review, :writing_group_nomination, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <ul>
            <% @user_publication_review.writing_group_nomination.to_s.split(',').each do |user_name| %>
              <% first_name = user_name.split(' ').first.to_s %>
              <% last_name = user_name.split(' ').last.to_s %>
              <% u = User.find_by_first_name_and_last_name(first_name, last_name) %>
              <li style="line-height:30px"><%= u ? link_to(u.name, u) + "<br /><span class='quiet small'>#{u.email}</span>".html_safe : user_name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <% link_name = @user_publication_review.new_record? ? 'Create Review' : 'Edit Review' %>
      <%= submit_tag link_name, class: 'btn' %>
    </div>
  </div>
<% end %>
