<% @title = "About #{DEFAULT_APP_NAME}" %>

<div class="row" style="margin-top:54px">
  <div class="span12">
    <h1 class="about-title"><%= @title %></h1>
    <p class="about-tagline">Visit our <%= link_to 'online community', ABOUT_PAGE_FORUM, target: '_blank' %> or contact us <%= mail_to ABOUT_PAGE_CONTACT, 'via email', target: '_blank', subject: "#{DEFAULT_APP_NAME} Question" %>.</p>
    <p class="about-signup"><%= link_to 'Sign Me Up', new_user_registration_path, class: "btn btn-primary btn-large" %></p>
  </div>
</div>

<hr class="soften">

<p class="about-description"><%= DEFAULT_APP_NAME %> is a <%= link_to 'free to use*', 'https://github.com/remomueller/review/blob/master/LICENSE', rel: 'tooltip', data: { title: 'Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License' } %> and <%= link_to 'open source', 'https://github.com/remomueller/review', rel: 'tooltip', data: { title: 'Source code freely available on GitHub' } %> web application used to create and track publication proposals for the CHAT study.</p>

<div class="row">
  <div class="col-md-4">
    <h2 class="about-title">Publication Matrix</h2>
    <ul>
      <li>Discuss and view publication proposals.</li>
      <li>Download existing manuscripts.</li>
      <li>Flag proposals for committee review.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2 class="about-title">New Proposals</h2>
    <ul>
      <li>Fill out a new publication proposal for committee review.</li>
      <li>Receive feedback from committee members.</li>
      <li>Collaborate with the proposal writing group.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2 class="about-title">Committee Members</h2>
    <ul>
      <li>Receive alerts for new publication proposals.</li>
      <li>Approve or deny a new proposal with comments and writing group nominations.</li>
      <li>View other committee members feedback and view uploaded proposal attachments.</li>
    </ul>
  </div>
</div>

<hr class="soften">

<footer class="footer">
  <p class="muted about-footer"><%= DEFAULT_APP_NAME %> Version <%= link_to Review::VERSION::STRING, "https://github.com/remomueller/review/tree/#{Review::VERSION::MAJOR}.#{Review::VERSION::MINOR}.#{Review::VERSION::TINY}" %></p>
</footer>
