%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-full-menu' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to ENV['website_name'], root_path, class: 'navbar-brand brand'
    .collapse.navbar-collapse.navbar-full-menu
      %ul.nav.navbar-nav
        - if current_user
          %li{ class: "#{'active' if current_page?(publications_path)}" }= link_to 'Publications', publications_path

      - if current_user
        %form.navbar-form.navbar-right.hidden-xs
          = link_to destroy_user_session_path, class: 'btn btn-default' do
            Logout
      - else
        %form.navbar-form.navbar-right.hidden-xs
          = link_to 'Sign in', new_user_session_path, class: 'btn btn-default'

      - if current_user
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown.hidden-xs
            = link_to '#', class: 'dropdown-toggle', data: { object: 'dropdown', toggle: 'dropdown' } do
              %span= current_user.first_name
              %span.caret
            %ul.dropdown-menu{ role: 'menu' }
              %li.dropdown-header= current_user.email
              - if current_user.system_admin?
                %li.divider
                %li.dropdown-header Administrative
                %li= link_to 'Users', users_path
          - if current_user.system_admin?
            %li.visible-xs= link_to 'Users', users_path
        %form.navbar-form.navbar-right.visible-xs
          = link_to 'Logout', destroy_user_session_path, class: 'btn btn-default'
      - else
        %form.navbar-form.navbar-right.visible-xs
          = link_to 'Sign in', new_user_session_path, class: 'btn btn-default'
